<div id="content-page" class="" ng-controller="HelpController">
		<article>
			<header class="entry-header">
				<h1 class="">
					<div class="container">
						Help Centre
					</div>
				</h1>
			</header>

			<div class="entry-content container py-5" style="min-height: 50vh;">
				<h4>Coming soon.</h4>
			</div>
		</article>
	</div>
</div>