<section ng-controller="FrontPageController" class="pt-4">
	<div class="container">
		<div class="alert alert-success mb-3" ng-show="showWelcome">
			<h4 class="alert-success mt-3">Thank you for registering on TheArticle.</h4>
			<p class="alert-success">Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. </p>
		</div>

		<h2>FRONT PAGE HERE</h2>
	</div>
</section>