@media only screen and (min-device-width: 320px) and (max-device-height: 625px) {
	.article_detail {
		#article_meta {
			.author_info {
				.social {
					display: block;

					.article_author_seperator {
						display: none;
					}

					.article_author_twitter {
						i.fa-twitter {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}