.article_detail {
	margin-top: 20px;

	.ads_box {
		display: block;

		& > div {
			overflow-y: visible;
		}
	}

	p#article_exchanges {
		margin-bottom: 0;

		.exchange-badge {
			margin-right: 5px;
		}
	}

	h1.entry-title {
		font-size: 2em;

		& + time {
			font-size: 0.8em;
			color: #999;
			font-weight: 600;
			margin-top: -5px;
		}
	}

	#article_meta {
		.author_info {
			font-size: 0.9em;
			font-weight: 600;
			position: relative;
			display: flex;
			color: #565656;

			.author_name {
				position: relative;
				top: 0px;
			}

			a {
				color: darken($grey, 11%);

				span {
					// text-decoration: underline;
					text-transform: uppercase;
					letter-spacing: 0.7px;
				}


				&#article_author_thumbnail {
					width: 15vw;
					position: relative;
			    top: -8px;

					img {
						width: 100%;
						min-width: 15vw;
						border-radius: 30px;
					}
				}
			}

			.social {
				display: flex;
				margin-top: 0.3em;
				font-size: 0.7em;

				.article_author_user,
				.article_author_seperator,
				.article_author_twitter {
					display: inline-flex;

					img {
						width: 15px;
						margin-right: 4px;
					}

					i.fa-twitter {
						font-size: 18px;
						margin: 0 4px 0 0.25rem;

						& + span {
							position: relative;
							top: 0px;
						}
					}
				}
			}

		}
	}

	#twitter_follow_col {
		margin-bottom: 15px;
	}

	#content_box {
		& > p {
			line-height: 1.5em;

			a {
				color: $green;
			}
		}

		.ads_box {
			line-height: 0;
		}

		blockquote {
    	font-size: 1.15em;
    	font-weight: 500;
    	line-height: 1.8em;
    	margin: 1.8em 0;
			font-style: italic;
		}

		.wp-caption-text {
			font-size: 0.9em;
	    font-weight: 500;
	    position: relative;
	    top: -1em;
	    font-style: italic;
	    text-align: right;
		}

		.wp-caption {
			max-width: 100%;

			&.aligncenter {
				margin: 20px auto 0;
				clear: both;
			}
		}

		img {
			max-width: 100%;
			display: block;
			margin: 18px 0;
			height: auto;
		}
	}

	.share_links {
		padding-top: 18px;

		& > div {
			p {
				font-size: 0.7em;
		    font-weight: 600;
		    color: $grey;
		    text-align: right;
		    line-height: 2.4em;
		    position: relative;
        top: 4px;
			}

			a {
				padding: 6px 0.5em 3px !important;
				width: 40px;
				font-size: 1em;
				height: 35px;

				&.thearticle_share {
					background-image: asset_url('capital-a-bg-black.png');
					background-repeat: no-repeat;
					background-size: 40%;
					background-position: center center;
				}

				i, svg {
					position: relative;
					left: -2px;
				}
			}
		}
	}

	#img_box {
		position: relative;

		p.caption {
			margin: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,0.45);
			padding: 3px 8px;
			color: #d6d6d6;
			font-size: 0.55em;
			text-align: right;
		}
	}

	.sidebar_inner {
		width: 300px;
		margin: 20px auto;
	}

	.rate_this {
		background-image: asset_url('capital-a-bg.png');
		background-repeat: no-repeat;
		background-position: 7px 3px;
		background-size: 26px;
		padding-left: 30px !important;
	}
}