header.auth_header {
	#logo {
		height: 30px;
    background-size: 40%;
    margin-top: 5px;
	}
}
section.auth {
	.form-group {
		margin-bottom: 0.2em;

		label {
			margin-bottom: 0;
		}
	}

	.form-group.checker {
		input[type=checkbox] {
			width: 40px;
	    height: 40px;
	    position: relative;
	    top: -5px;
		}
	}
}