.slick-carousel {
	.inner {
		opacity: 0;

		&.shown {
			transition: opacity 1.2s;
			opacity: 1;
		}
	}

	.slick-arrow {
		display: none !important;
	}

	&.latest_articles,
	&.trending_exchanges,
	&.sponsored_picks {
		.slick-track {
			height: 352px;

			article {
				height: 100%;

				.inner.shown {
					height: 100%;

					.img_mask {
						height: 180px;

						img {
							height: 100%;
						}
					}

					header {
						h4 {
							font-size: 1em !important;
						}
					}

					.entry-content {
						display: none !important;
					}

					footer {
						position: absolute;
						bottom: -3px;
						left: 2px;
						width: 100%;

						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}

	&.articles,
	&.exchanges,
	&.journalists {
		.slick-carousel-item {
			background-repeat: no-repeat;
			background-size: cover;
			text-align: left;
			cursor: pointer;
			height: 100%;
			width: 90vw;

			.img {
				width: 100%;
			}

			h2 {
				color: #fff;
				margin-top: 5px;
				font-size: 1.55em;
		    line-height: 1.25em;

				a {
					color: #fff;

					&:hover {
						text-decoration: none;
						color: #eee !important;
					}
				}
			}

			.exchange-badge {
				margin-right: 5px;
			}

			footer.entry-footer {
				padding: 0;
				color: #fff;

				a {
					color: #fff;
				}

				.entry-date {
					color: #fff;
					margin-left: 20px;
				}

				.author_link {
					font-size: 0.65em;
					font-weight: 400;

					a {
						span {
							text-decoration: underline;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						&:hover {
							text-decoration: none;
							color: #eee !important;

							span {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	&.articles {
		.slick-carousel-item {
			margin: 0 4px;

			h2 {
				font-size: 1.45em;
				line-height: 1.05em;
			}

			.mask {
				position: relative;
				background-color: rgba(69, 69, 69, 0.4);
				height: 100%;
				width: 100%;

				.inner {
					position: absolute;
					bottom: 0px;
					padding: 0 17px;
				}
			}
		}

		.slick-track {
			height: 290px;
		}
	}

	&.suggestions {
		.slick-track {
			height: 220px;
		}

		&.initialising {
			display: inline-box;
			display: -webkit-inline-box;

			.slick-carousel-item {
				width: 40%;
				opacity: 0.1;
			}
		}

		.slick-carousel-item {
			margin: 0 5px;
			font-size: 0.85em;
			height: 100%;
			padding: 0 0 0;
			border: 1px solid #ccc;
			position: relative;

			.card-body {
				padding: 7px !important;
			}

			.follower-badge {
				display: none;
			}

			p.card-text {
				margin-top: 3px;
			}

			img.feed_image.with_cover_image {
				top: -34px;
				width: 45px;
				height: 45px;
				margin: 0 8px -20px 0;
			}

			.shared_followers {
				width: 100% !important;
				margin:0;
				position: absolute;
				bottom: 42px;
				left: 4.5em;

				.double {
					// width: 69px;
					position: relative;
					top: 0px;
					left: 2px;

					img {
						display: inline-block;
					}

					& + p {
						margin-left: 2px;
						top: 3px;
					}
				}

				.single {
					// width: 60px;
					position: relative;
					top: -3px;
					left: 3px;
					margin-right: 6px;

					img {
						display: inline-block;
					}

					& + p {
						margin-left: 10px;
						top: 6px;
					}
				}

				p {
					// font-size: 0.85em;
					width: 70%;
				}
			}

			.follow_btn_container {
				width: 100%;
				position: absolute;
				bottom: 7px;
				left: 0;

				button {
					width: 100%;
					margin: 0 auto;
				}
				// left: 12%;
			}
		}

		.slick-arrow.slick-prev {
			left: -14px;
		}

		.slick-arrow.slick-next {
			right: -14px;
		}

		ul.slick-dots {
			display: none !important;
		}
	}

	&.journalists {
		.slick-track {
			height: 150px;
		}

		.slick-carousel-item {
			margin: 0 3px;

			.inner {
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				position: relative;

				.inner_inner {
					width: 100%;
					position: absolute;
					bottom: 7px;
					// text-align: center;

					.entry-content {
						display: none;
					}

					h3 {
						font-size: 1em;
						line-height: 1.1em;
					}

					h4 {
						font-size: 0.8em;
					}
				}
			}
		}
	}

	.register_interstitial_box {
		padding: 6px 0 !important;
		font-size: 0.8em;

		ol {
			width: 88%;
			margin: 10px auto 10px;

			li {
				font-size: 0.9em;
				margin-bottom: 8px;

				i, svg {
					font-size: 19px;
				}

				img {
					width: 19px;
				}
			}
		}

		h3 {
			margin-top: 5px;
			margin-bottom: 0;
		}

		button.register_interstitial_box_register {
			margin: 12px auto 0;
		}

		p.register_interstitial_box_no_thanks {
			display: none;
		}
	}
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 320px) {
  	.slick-dots {
  		li {
  			margin: 0 3px;
  		}
  	}
  	.slick-carousel.journalists {
  		.slick-track {
  			height: 200px !important;
  		}
  	}
  	.slick-carousel.exchanges {
  		.slick-dots {
		    bottom: -5px;
		   }
  	}
}
