input#suggestion_search {
	font-size: 0.9em;
}

#public_activity {
	ul.nav-tabs {
		font-size: 0.85em;
	}
}

#app_tabs {
	.tab-pane {
		min-height: 70%;
		min-height: 70vh;
		background: $grey_light;
	}
}

.feed-listing {
	margin-bottom: 10px;
	// border-bottom: 1px solid $grey;

	#third_party_article_url_phantom {
		height: 2.6em;
		font-size: 0.85em;

		&.expanded {
			height: 5.4em;
		}
	}

	&.feed-third-party {
		background: #d2ead4 !important;
		margin-top: -17px;

		.building {
			text-align: right;
			width: 100%;
			padding: 4px;
			font-size: 0.9em;
			font-weight: bold;
			margin: 0;
		}

		.mce-tinymce {
			width: 89% !important;
		}
	}

	&.comment {
		border-bottom: none;
	}

	&:last-child {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}


	&.feed-deactivated {
		.card {
			border: 3px solid $red;

			.inner {
				padding: 35px;
			}
		}
	}

	&.feed-blocked {
		.inner {
			padding: 0 20px 10px;
		}
	}

	&.feed-share {
		.comments_pane {
			background: #fff;

			.respond,
			.comment_respond {
				padding: 15px 20px;

				&.with_form {
					background: #dfdfdf;
				}

				img {
					width: 45px;
					height: 45px;
				}

				// textarea {
				// 	height: 3em;
				// }

				.mce-panel {
					border: none;
					margin-left: 0.5em;
					width: 98%;
					background: none;
				}
			}

			.order_by_dropdown {
				.dropdown-toggle {
					color: $green;
					-webkit-appearance: none;

					&:after {
						display: none;
					}
				}

				.dropdown-menu {
					width: 85%;
					width: 85vw;
					box-shadow: 1px 1px 3px #aaa;

					.dropdown-item {
						white-space: initial;
						position: relative;

						.tick {
							font-size: 0.8em;
							position: absolute;
							top: 7px;
							left: 8px;
						}

						h6 {
							margin-bottom: 2px;
							padding-left: 5px;
						}

						p {
							font-size: 0.8em;
							margin-bottom: 3px;
							padding-left: 5px;
						}
					}
				}
			}

			.comments {
				ol {
					list-style: none;
					padding: 10px 0;

					li {
						a.show_more {
							margin-left: 48px;
						}

						.comment-item {
							.reply_area {
								margin: -10px 16px 16px 60px;
								font-size: 1.1em;
								text-align: right;
							}

							h4 {
								font-size: 1em;
								line-height: 1.5em;
								font-weight: normal;
							}

							&.comment-item-parent {
								img {
									width: 42px;
									height: 42px;
								}
							}
							&.comment-item-child {
								img {
									width: 30px;
									height: 30px;
								}
							}
						}

						&.with_children {
							.reply_area {
								border-left: 2px solid $green;
							}
						}

						ol.children {
							padding: 0 0 0 48px;

							.reply_area {
								border-left: 2px solid $green;
								margin-left: 13px;
							}

							li:last-child {
								& > .comment-item {
									.reply_area {
										border-left: none;
									}
								}
							}
						}
					}
				}
			}
		}

		.opinions_pane {
			// border-left: 1px solid $grey;
			// border-bottom: 1px solid $grey;
			// border-right: 1px solid $grey;
			background: #fff;
			padding-top: 8px;

			ol {
				list-style: none;
				padding: 10px 15px;

				li {
					.opinion-item {
						margin-bottom: 5px;
						// padding: 0 10px;
						h4 {
							font-size: 1em;
							line-height: 1.5em;
							font-weight: normal;
						}

						img {
							width: 35px;
							height: 35px;
							position: relative;
							top: -2px;
						}
					}
				}
			}
		}
	}

	&.feed-share,
	&.feed-exchange,
	&.feed-follow,
	&.feed-categorisation,
	&.feed-suggestion {
		height: initial;

		.card {
			padding: 12px;
			border-radius: 0;

			.follow_summary {
				max-width: 90%;
			}

			.follow_summary,
			.comment_body {
				font-size: 0.95em;
				a {
					text-decoration: underline;
				}
			}

			.comment_body,
			.comment_body p {
				word-break: break-word;
				text-overflow: ellipsis;
				overflow-wrap: break-word;
				white-space: pre-line;
			}

			.ratings {
				font-size: 0.8em;
				background: #222;
				border-radius: 2px;
		    color: #fff;
		    padding: 14px 9px 7px;
		    margin-bottom: 12px;

		    label {
		    	font-weight: bold;
		    	font-size: 0.9em;
		    }

		    .star {
		    	border: 1px solid #747474;
					margin-right: 3px;
					padding: 1px 3px;
					font-size: 0.85em;
					position: relative;
					top: 1px;
		    }
			}

			button {
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;

		    &.follow_btn {
		    	font-size: 0.85em;
		    }
			}

			.user_info {
				h4 {
					margin-bottom: 3px;
					line-height: 1.5em;
					font-size: 1em;
					font-weight: normal;
					max-width: 95%;
				}

				img {
					width: 45px;
					height: 45px;
					margin-right: 8px;
				}
			}

			.share_meta {
				font-size: 0.85em;
				padding: 0 4px;

				.count_box {
					text-align: center;

					&:first-child {
						text-align: left;
					}

					&:last-child {
						text-align: right;
					}

					a {
						color: inherit;
					}
				}

				svg {
					// color: $blue_dark;
			    margin-right: 3px;
				}
			}

			.share_actions {
				border-top: 1px solid #ccc;
				margin-top: 16px;
				position: relative;

				a {
					svg {
						margin-right: 4px;
					}

					&.agree_action,
					&.disagree_action {
						&.selected {
							color: #ccc;

							&:hover,
							&:active,
							&:focus {
								color: #ccc !important;
							}
						}
					}
				}

				&.ghosted {
					a.comment_action {
						opacity: 0.3;
					}
				}

				a.helper {
					color: #727272;
					line-height: 1;
					/* position: absolute; */
					/* top: 18px; */
					/* right: 0px; */
					font-weight: normal;
					font-size: 25px;
					display: block;
					width: 100%;
					text-align: center;
					padding: 10px 0 0;
				}

			}

			.article_box,
			.exchange_box {
				width: 100%;
		    overflow: hidden;
		    margin-bottom: 11px;

		    .img_mask {
			    img {
			    	width: 100%;
			    }
			  }

			  .detail {
			  	width: 75%;
			  }
			}

			.exchange_box {
				.img_mask {
					width: 25%;
				}
			}

			.article_box {
				border-radius: 5px;
				border: 1px solid #efefef;
				box-shadow: 2px 2px 3px #aaa;

				.img_mask {
					margin-bottom: -11px;
				}
			}
		}
	}

	&.feed-suggestion {
		.card {
			background-color: $gold;
			border-color: $gold_dark;

			h3 {
				text-align: center;
				margin: 20px 0;
				color: #fff;
			}

			p, h4 {
				color: #fff;
			}

			p {
				a {
					color: #fff;
					text-decoration: underline;
				}
			}

			h4 {
				font-size: 1.2em;
				margin-bottom: 7px !important;

				span {
					font-size: 0.8em;
				}
			}
		}
	}

	.card {
		font-size: 14px;
		border-top: none;
		border-left: none;
		border-right: none;

		.ratings {
			ul {
				padding: 0;
				margin: 0;

				li {
					list-style: none;
					font-weight: 500;
				}
			}
		}
	}

	img.feed_image {
		width: 10vw;
		height: 10vw;
	}

	&.account-settings-feed {
		border-bottom: none;

		.card {
			border-top: 1px solid rgba(0, 0, 0, 0.125);
			border-left: 1px solid rgba(0, 0, 0, 0.125);
			border-right: 1px solid rgba(0, 0, 0, 0.125);
			padding: 0 !important;

			img.feed_image {
				position: relative;
				top: -0.9em;
				left: 5px;
				width: 13vw;
				height: 13vw;
			}
		}
	}

	.follow_btn {
		outline: none;
    font-size: 0.8em;
    width: 80%;
    margin: 15px auto 5px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;

    &:active {
    	outline: none;
    	// color: inherit !important;
	    // background-color: inherit !important;
	    // border-color: inherit !important
    }

    &:hover,
    &:focus {
    	outline: none;
    }

    svg {
    	position: relative;
	    top: -1px;
	    font-size: 1.1em;
	    left: 3px;
    }

    &.follow_exchange {
    	font-size: 0.8em;

    	svg {
    		font-size: 1em;
    		top: 1px;
    		left: 1px;
    	}
    }
	}

	.card-text {
		line-height: 1.1em;

		a {
			color: inherit;
		}
	}

	.cover_photo {
		height: 50px;
	}

	h5 {
		font-size: 1em;
	}

	h6 {
		font-size: 0.85em;

		a {
			color: inherit;
		}
	}

	&.feed-exchange {
		// border-bottom: 1px solid #ddd;

		.feed_text {
			p {
				font-size: 0.85em;
			}
		}
	}

	.shared_followers {
		font-size: 0.68em;
		margin-top: 8px;
		margin-left: 3.7em;
		position: relative;
		overflow: hidden;
		line-height: 3.3em;

		div {
			float: left;

			&.single {
				width: 25px;
				margin-right: 6px;

				img {
					top: 0;
				}
			}

			&.double {
				width: 49px;

				img {
					top: 0;
				}
			}

			img {
				width: 23px;
				height: 23px;
				position: relative;

				&.over {
					z-index: 2;
					right: -5px;
				}

				&.under {
					z-index: 1;
					left: -7px;
				}
			}
		}

		p {
			line-height: 1.3em;
			float: left;
			width: 75%;
			margin-left: 7px;
			margin-bottom: 5px;
			position: relative;
			top: 11px;
		}
	}
}

.header_bar_overlay {
	background: #fff;
  position: fixed;
  width: 100vw;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1vh 4vw;
  background: #efefef;

  a.closer {
  	line-height: 1;
  	font-size: 1.5em;
  	color: $green;
  }

  h3 {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: bold;
  	font-size: 1em
  }

  h5 {
  	font-size: 0.7em
  }
}

#feed {
	#who_to_follow {
		// margin-left: -15px;
  //   margin-right: -15px;
    padding-bottom: 7px;
    margin-bottom: 0px;

    h4 {
    }
	}


	.ratings_summary {
		font-size: 0.8em;

		.inner {
			background: #222;
	    color: #fff;
	    padding: 18px 12px 12px;
	    // margin-bottom: 12px;

	    h4 {
	    	color: #fff;
	    }

	    p {
				color: #fff;
				margin-bottom: 6px;
				font-size: 0.8em;
	    }

	    label {
	    	font-weight: bold;
	    	font-size: 0.9em;
	    }

	    .star {
	    	border: 1px solid #747474;
				margin-right: 2px;
				padding: 1px 3px;
				font-size: 0.8em;
				position: relative;
				top: 1px;
	    }
		}
	}

	.results_block {
		background: $grey_light;

		&.empty {
			background: transparent;

			p.empty_resource {
				padding: 12px;
				margin-top: 20px;
			}
		}

		h6.block_heading {
			display: block;
			background: $grey_light;
			color: #333;
			font-weight: bold;
		}

		.view_all {
			display: block;
			font-size: 0.85em;

			a {
				color: $green;
			}
		}
	}
}

#requires_connection_modal {
	.icon_center {
		font-size: 42px;
		display: block;
		width: fit-content;
		width: -moz-fit-content;
		margin: 18px auto 10px;
	}

	section.auth_action_message {
		text-align: center;
		font-size: 1.1em;
		margin: 20px 0;
	}
}

.share_menu_btn {
	font-size: 1.4em;
	position: relative;
	top: 0px;
	right: 0px;
	padding: 0;

	a {
		color: inherit;
	}
}

#activity-tabs {
	padding-bottom: 75px;
}

#home_feed_tabs,
#home_article_tabs,
#history_feed_tabs {
	li {
		a.nav-link {
			label {
				cursor: pointer;
				font-size: 0.9em;
				font-weight: bold;
				margin-bottom: 0;
			}

			&.active {
				border-top: none;
				border-right: none;
				border-left: none;
				border-bottom: 3px solid $green;
			}

			&.disabled {
				cursor: default !important;
				color: inherit !important;

				label {
					font-weight: normal !important;
					color: inherit !important;
				}
			}

		}
	}
}

#home_article_tabs {
	a.nav-link {
		color: inherit;
	}
}

body.fixed-nav #home_feed_tabs {
  position: fixed;
  top: 40px;
  width: 100vw;
  z-index: 100;
}


.mentioned_user {
	color: $green;
}nav.tabbable {
	position: relative;

	.nav-scroller-scroll {
		display: none;
	}

	#home_article_tabs {
		overflow-x: auto;
		overflow-y:hidden;
		flex-wrap: nowrap;

	  &::-webkit-scrollbar {
	    display: none;
	  }

		li {
			font-size: 0.85em;
			white-space: nowrap;
			-moz-user-select: none;
			-webkit-user-select: none;

			a {
				-moz-user-select: none;
				-webkit-user-select: none;

				label {
					font-size: 1em;
				}
			}
		}
	}
}

#home_tab_content  {
	.see_more_articles {
		display: none;
	}
}

.mentioned_user {
	cursor: pointer;
	color: $green;
}

.mce-panel {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	overflow: auto;
	resize: vertical;
}
>>>>>>> mentions
