.nav_menu {
	background: #fff;
	width: 100%;

	.nav_menu_item {
		padding: 15px 16px 7px;
		border-bottom: 1px solid $grey;

		h5 {
			font-size: 1.2em;
			max-width: 88%;
		}

		h6 {
			font-size: 0.82em;
			margin: -6px 0 2px;
		}

		p {
			line-height: 1em;
			small {
			}
		}

		i, svg {
			font-size: 1.3em;
			color: #111;
		}

		&.important_item {
			h5 {
				width: 90%;
				text-align: center;
				font-size: 1em;
			}

			i, svg {
				font-size: 1.1em;
			}
		}

		&.danger {
			h5, i, svg {
				color: $red
			}
		}

		&.success {
			h5, i, svg {
				color: $green_dark;
			}
		}

		label.nav_menu_select {
			p {
				line-height: 1.3em !important;
				font-size: 0.9em;
			}
		}

		label.nav_menu_checkbox {
			font-weight: normal;
		  display: block;
		  position: relative;
		  // padding-left: 35px;
		  // margin-bottom: 12px;
		  // cursor: pointer;
		  // font-size: 1.05em;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;

		  h5 {
		  	margin-bottom: 0;
		  }

		  input {
			  position: absolute;
			  opacity: 0;
			  cursor: pointer;
			  height: 0;
			  width: 0;

			  &:checked ~ .checkmark {
				}

				&:checked ~ .checkmark:after {
				  display: block;
				  right: 1px;
		      top: -7px;
				}
			}

			.checkmark {
			  position: absolute;
			  top: 6px;
			  right: 3px;
			  height: 25px;
			  width: 25px;
			  background-color: #efefef;
			  border: 1px solid #cfcfcf;
			  border-radius: 4px;
			  cursor: pointer;

			  &:hover {
			  	background-color: #efefef;
			  }

			  &.hover {
			  	outline: none;
			  }

			  &:after {
				  content: "";
				  position: absolute;
				  display: none;
				  width: 12px;
			    border-bottom: 7px solid $green_dark;

			    height: 24px;
			    border-right: 7px solid $green_dark;

			    /* rotate the mirrored L to make it a checkbox */
			    transform: rotate(45deg);
			      -o-transform: rotate(45deg);
			      -ms-transform: rotate(45deg);
			      -webkit-transform: rotate(45deg);
			  }
			}
		}

		.nav_menu_select {
			h5 {
				margin-bottom: 0;
			}

			select {
				direction: rtl;
				outline: none;

				option {
					direction: ltr;
				}
			}
		}

		/* On mouse-over, add a grey background color */
		// label.nav_menu_checkbox:hover input ~ .checkmark {
		//   background-color: #ccc;
		// }
	}

	.nav_menu_spacer {
		background: $grey_light;
		height: 32px;
		width: 100%;
		clear: both;
		border-bottom: 1px solid $grey;
	}
}
