#notification_settings_btn {
	padding-right: 0 !important;
}

.notifications {
	.notification {
		min-height: 75px;

		.inner {
			height: 100%;
			padding: 8px 8px 10px;
			margin: -1px 0;
			position: relative;
			background: darken($grey_light, 5%);
			// border-radius: 2px;

			&.seen {
				background: #fff;
			}

			.happened_at {
				position: absolute;
				right: 14px;
				bottom: 1px;
				font-size: 0.9em;
				font-weight: bold;
			}

			.exchange_image {
				width: 60px;
				height: 60px;
				margin: 2px 15px 2px 0;
			}

			p {
				margin: 0em 0 1em;
				line-height: 1.4em;
				max-width: 90%;
				font-size: 0.9em;

				a {
					color: #555;

					&.text-green {
						color: $green;
					}
				}
			}

			svg {
				font-size: 28px;
				margin-right: 14px;
				position: relative;
				// top: 13px;
			}
		}

		&.follow {
			.inner {

			}
		}

		&.categorisation {
			.inner {

			}
		}

		&.opinion {
			&.agree {
				.inner {

				}
			}
			&.disagree {
				.inner {

				}
			}
		}

		&.comment {
			&.comment {
				.inner {

				}
			}
			&.reply {
				.inner {

				}
			}
		}
	}
}


.share_post_modal {
	.feed-listing {
		& > .card {
			border: none;
			padding: 0;
		}
	}
}
