.app_page_heading {
  .backer {
    font-size: 1.2em;
    color: $green;
    position: relative;
    top: 2px;
  }

  h6 {
    font-weight: normal;
    font-size: 0.8em;
    margin-top: -6px;
    color: #888;
  }

  .with_back {
    h6 {
      margin-left: 26px;
    }
  }

  a#close_app_page {
    font-size: 1.6em;
  }
}

.slidepage-container {
  // height: 70%;
  // height: 70vh;
  min-height: 60vh;
  width: 100%;
  width: 100vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  // background: #cecece;

  .slidepage-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slidepage-page.left {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

  .slidepage-page.center {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  .slidepage-page.right {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }

  .slidepage-page.transition {
      -webkit-transition-duration: .25s;
      transition-duration: .25s;
  }
}