.show-profile {
	min-height: 60vh;

	#cover_photo {
		width: 100%;
		background-color: $green;
		height: 18%;
		height: 18vh;
		line-height: 8em;
		color: #fff;

		a {
			color: #fff;
			font-size: 33px;
			width: fit-content;
			display: block;
			margin: 0 auto;
		}
	}

	#basic_info {
		margin-bottom: -2.4em;
		padding-top: 1em;

		h5 {
			line-height: 0.7em;
	    font-size: 1.15em;
		}

		h6 {
			font-size: 0.9em;
		}

		img {
			width: 7em;
			height: 7em;
	    border: 4px solid #fff;
	    position: relative;
	    top: -3.5em;
		}
	}

	#stats_info {
		label {
			text-align: center;
			font-weight: bold;
			display: block;
		}

		span {
			text-align: center;
			width: 100%;
			display: inline-block;
		}
	}

	#more_info {
		color: inherit;

		a {
			color: inherit;
		}
	}

	#public_activity {
		ul.nav {
			border-bottom: none !important;

			li {
				a {
					border: none;
					color: inherit !important;
					font-weight: normal;

					&.active {
						color: inherit !important;
						font-weight: bold;
						border-bottom: 3px solid $green;
					}
				}
			}
		}

		.tab-content {
			min-height: 160px;
		}
	}
}