#my_profile_settings_btn {
	button {
		padding-right: 0 !important;
	}
}

.show-profile {
	min-height: 60vh;

	.ajax_loading.profile {
		text-align: center;
		width: fit-content;
		width: -moz-fit-content;
	}

	.profile_circle_image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
		width: 4.5em;
		height: 4.5em;
    border: 4px solid #fff;
    position: relative;
    top: -2.9em;

    a {
    	color: #fff;
    	font-size: 32px;
	    position: absolute;
	    left: 35%;
	    top: 32%;

    	&:hover,
    	&:active {
    		color: #fff !important;
    	}
    }
	}

	.cover_photo {
		width: 100%;
		width: 100vw;
		background-color: #aeaeae;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 75px;
		height: 20vw;
		line-height: 7.1em;
		color: #fff;

		&.editable {
			background-color: $green;
		}

		a {
			color: #fff;
			font-size: 33px;
			width: fit-content;
			width: -moz-fit-content;
			display: block;
			margin: 0 auto;
		}
	}

	#basic_info {
		margin-bottom: -2em;
		padding-top: 0.6em;

		h5 {
			line-height: 1.2em;
	    font-size: 1.1em;
	    margin-bottom: 0.25em;
		}

		h6 {
			font-size: 0.85em;
		}
	}

	#stats_info {
		label {
			text-align: center;
			font-weight: bold;
			display: block;
		}

		span {
			text-align: center;
			width: 100%;
			display: inline-block;
		}
	}

	#more_info {
		color: inherit;

		a {
			color: inherit;
		}
	}

	#public_activity {
		ul.nav {
			border-bottom: none !important;

			li {
				a {
					border: none;
					color: inherit !important;
					font-weight: normal;

					&.active {
						color: inherit !important;
						font-weight: bold;
						border-bottom: 3px solid $green;
					}
				}
			}
		}

		.tab-content {
			min-height: 160px;
		}
	}

	.overlay {
		opacity: 0.7;
		display: block;
		// top: 158px;
	}

	#mini_profile {
		display: none;

		h5 {
			font-size: 0.9em;
		}

		h6 {
			font-size: 0.75em;
			font-weight: normal;
		}

		img {
			width: 2.2em;
			height: 2.2em;
			position: relative;
		}

		.btn {
			font-size: 0.8em;
			padding: 4px 10px;
		}
	}
}


#edit_profile_form_box {
	z-index: 999;
  background: #fff;
  position: absolute;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  top: 48px;

  #edit_profile_photo_inside {
    top: -2.5em;
    left: 15px;
    margin-bottom: -3em;
  }

	label {
		margin-bottom: 0;
		font-weight: bold;
		font-size: 0.9em;
	}

	.buttons {
		button {
			width: 45%;
		}
	}
}


#editprofilePhotoModal {
	form .inner {
		height: 350px;
	}
}

#editcoverPhotoModal {
	form .inner {
		height: 190px;
	}
}

#editprofilePhotoModal,
#editcoverPhotoModal {
	height: 98vh;

	.modal-dialog {
		height: 99%;
    width: 97vw;
    margin: 1.5vw;

		.modal-content {
			height: 100%;

			.modal-body {
				padding: 0.3rem 0.3rem;

				form .inner {
					input.replace_file_input {
					  position: absolute;
					  left: -9999px;
					}

					.editing_photo_holder {
						width: 70vw;
						margin: 20px auto;
					}
				}
			}
		}
	}
}

.modal.all_user_exchanges {
	.modal-body {
		font-size: 0.9em;

		img {
			width: 100px !important;
		}

		.follow_btn {
			font-size: 0.8em;
		}
	}
}

body.fixed-profile-nav {
	header#main_header,
	#ads_top,
	#basic_info {
		display: none;
	}

	#activity_tabs {
		z-index: 100;
		position: fixed;
    top: 0;
    width: 100%;
    left: auto;
    padding-left: 0;
    padding-right: 0;
    background: #fff;
    margin-top: 0 !important;
	}

	#public_activity {
		margin-top: 9.2em !important;
	}

	#mini_profile {
		display: flex;
	}

	#mini_profile_inner {
		// display: flex;
	}
}