.float-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 200;
}

.profile_wizard_wizard {
	article.article-listing.exchange {
		height: 134px;

		.inner {
			// border-radius: 0.35rem;
			overflow: hidden;

			.img_mask {
				height: 130px !important;
				position: relative;

				i {
					position: absolute;
					top: 2px;
					right: 5px;
					font-size: 26px;
					z-index: 100;
					text-shadow: 2px 2px 2px #4a4a4a;
				}

				img {
					min-height: 106px;
					max-height: 100%;
				}
			}

			h6 {
				font-size: 0.8em;
				padding-bottom: 0.2em;
			}

		}

		&.deselected {
			.inner {
				background-color: #c60044;

				.img_mask {
					position: relative;

					img {
						opacity: 0.65;
					}
				}

				.heading_box {
					background-color: #c60044;
				}
			}
		}
	}
}