/***** SEARCH BOX ******/
#search_box {
  // position: fixed;
  width: 100%;
  height: 100%;
  height: 100vh;
  background: #303030;
  z-index: 498;
	clear: both;

 #search_box_row {
		padding: 3.5rem 0;
	  width: 85%;
	  clear: both;
	  display: block;
	  margin: 0 auto 2rem;

	 #search_inner {

			#search_form {
		  	border-bottom: 1px solid #fff;
		  	position: relative;

				input {
					display: inline;
					width: 60%;
					background: none;
					border: none;
					font-size: 1.2em;
					padding-left: 0;
					@extend .gabriela;
				}

				input,
				input:focus {
					border-width: 0px;
					outline:0;
					-webkit-appearance:none;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
				}

				button.btn {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
					// position: relative;
					// top: 17px;
				}
			}
		}
	}

	#search_suggestions {
		height: 70vh;
		overflow-y: auto !important;
		width: 100%;
		padding-bottom: 20px;

		.search_section {
			padding-top: 5px;
			border-bottom: 1px solid #ccc;

			h5 {
				padding-bottom: 5px;
			}

			ul {
				padding: 5px 3px;
				margin-bottom: 8px;

				li {
					font-size: 0.8em;
					list-style: none;
					line-height: 2.1em;

					a {
						display: inline-block;
						color: #fff;

						&.searcher {
							width: 90%;

							span.inner {
								width: 120px;
							}

							img {
								width: 48px;
								height: 48px;

								&.rounded-circle {
									width: 38px;
									height: 38px;
								}
							}

							br {
								line-height: 1;
							}

							&:hover,
							&:active,
							&:focus {
								color: #aaa !important;
							}

							small {
								display: block;
								position: relative;
								top: -5px;
								left: 0;
							}
						}

						&.magnify.d-flex {
							svg {
								position: relative;
								top: -3px;
								left: 1px;

								&.larger {
									font-size: 1.1em;
								}
							}
						}

						&.closer {
							width: 10%;
						}
					}
				}
			}
		}
	}
}

/***** SEARCH RESULTS ******/
section#search-results {

	// .feed-listing {
	// 	padding: 0 12px 10px !important;
	// }

	.feed-article {
    margin-bottom: 15px;

    .inner {
    	background: #fff;
    	height: 100%;

			img {
				width: 100%;
			}

			header {
				padding-top: 10px !important;
			}
    }
	}

	ul.nav-tabs {
		overflow-x: auto;
		overflow-y:hidden;
		flex-wrap: nowrap;
		border-bottom: none !important;

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			a {
				font-size: 0.9em;
				border: none;
				color: inherit !important;
				font-weight: normal;

				&.active {
					color: inherit !important;
					font-weight: bold;
					border-bottom: 3px solid $green;
				}
			}
		}
	}

	#results_pane {
		min-height: 50vh;
	}
}


p.no_results {
	padding: 8px 12px;
}