<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.opinionAction.user.path}}">
				<img ng-src="{{item.opinionAction.user.image}}" alt="{{item.opinionAction.user.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4>
					<a href="{{item.opinionAction.user.path}}">
						{{item.opinionAction.user.displayName}}
						<span class="text-muted">{{item.opinionAction.user.username}}</span> &bullet; <span><time>{{item.opinionAction.date}}</time></span>
					</a>
				</h4>
				<p><b>{{item.opinionAction.action}}</b></p>
			</div>
		</div>
		<% if user_signed_in? %>
			<div ng-if="item.opinionAction.user.id != <%= user_signed_in? ? current_user.id : 0 %>">
				<%= render partial: 'common/options_menu', locals: { from: :opinionAction } %>
			</div>
		<% end %>
	</div>

	<%= render 'shares/card' %>
</div>