<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start" ng-if="item.user">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.user.path}}">
				<img ng-src="{{item.user.image}}" alt="{{item.user.displayName}}" />
			</a>
			<div>
				<h4>
					<a href="{{item.user.path}}">
						{{item.user.displayName}}
						<span class="text-muted">{{item.user.username}}</span>
					</a>
				</h4>
				<p><b>Followed an exchange</b> &bullet; {{item.followedDate}}</p>
			</div>
		</div>
		<div ng-if="item.user.id != <%= user_signed_in? ? current_user.id : 0 %>">
			<%= render partial: 'common/options_menu', locals: { from: :exchange } %>
		</div>
	</div>

	<div class="exchange_box">
		<div class="inner justify-content-start d-flex align-items-start">
			<div class="img_mask">
				<a ng-if="item.image" href="{{ item.path }}">
					<img ng-src="{{ item.image }}" alt="{{ item.title }}" />
				</a>
			</div>

			<div class="pl-3">
				<h4 class="entry-title mb-2" id="article-post-title-{{ item.id }}">
					<a href="{{ item.path }}">{{item.name}}</a>
				</h4>

				<div class="">
					{{ item.excerpt }}
				</div>

				<% if user_signed_in? %>
				<button class="mt-1 btn btn-block mt-3"
								ng-class="{ 'btn-outline-success': !item.imFollowing, 'btn-success': item.imFollowing }"
								ng-click="toggleFollowExchangeFromCard(item, $event)">
					<i class="fas fa-plus-square mr-1"></i>
					<span ng-show="item.imFollowing">Following</span>
					<span ng-show="!item.imFollowing">Follow</span>
				</button>
				<% end %>

			</div>
		</div>

	</div>
</div>