<div class="editor_exchange_callout col-12 mb-3 mb-md-5 block_click cursor-p"
			data-href="/write-for-us"
			id="editor_exchange_callout_3"
			ng-show="page > 3">
	<div class="px-4 pt-4 pb-2 bg-colour-3 text-center">
		<h4 class="text-white mb-3">Don't agree with what you've read?</h4>
		<p class="text-white">TheArticle is about creating plurality of opinion for informed debate. <br />We'll never try to shut down informed and reasoned argument.</p>
		<p class="text-white"><a class="text-white" href="/write-for-us">If you think you can contribute click here</a>.</p>
	</div>
</div>