<div class="editor_exchange_callout col-12 mb-3 mb-md-5 block_click cursor-p" data-href="/write-for-us" id="editor_exchange_callout_1">
	<div class="px-4 pt-4 pb-2 bg-colour-1 text-center">
		<h4 class="text-white mb-3">Something to add?</h4>
		<p class="text-white">TheArticle is about creating exchange of views for informed debate. <br />Everything we publish has to be well written, fully researched and compelling.</p>
		<p class="text-white"><a class="text-white" href="/write-for-us">If you think you can contribute click here</a>.</p>
	</div>
</div>