.DS_Store
*/.DS_Store

*.sublime-workspace
*.sublime-project

.sass-cache/
public/assets/*

node_modules/
/yarn-error.log

/config/database.yml
/config/credentials.yml.enc

# Ignore master key for decrypting credentials and more.
/config/master.key

/docs

## Environment normalization:
/.bundle
/vendor/bundle
/bin

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore Byebug command history file.
.byebug_history

# Solr search index
solr/development/*
solr/pids/*

# Capistrano
Capfile
config/deploy
config/deploy.rb

public/robots.txt