<div class="pt-md-2 comment-item comment-item-parent px-2" data-comment-id="{{comment.data.id}}">
  <div class="user_info d-flex justify-content-between align-items-start">

    <div class="user_info_inner d-flex align-items-start">
      <a href="{{comment.data.path}}">
        <img ng-src="{{comment.data.photo}}" alt="Image of {{comment.data.displayName}}" class="rounded-circle mr-3" />
      </a>
      <div class="comment_text">
        <h4>
          <a href="{{comment.data.path}}">
            {{comment.data.displayName}}
            <span class="text-muted">{{comment.data.username}}</span> &bullet;
            <span>
              <time datetime="{{comment.data.timeActual}}">
            {{comment.data.timeHuman}}
              </time>
            </span>
          </a>
        </h4>
        <p class="comment_body" ng-bind-html="comment.data.body | linky:'_blank'"></p>
      </div>
    </div>
    <div>
      <%= render partial: 'common/options_menu', locals: { from: :comment } %>
    </div>
  </div>

  <div class="reply_area pl-5" ng-if="item.canInteract == 'yes'">
    <a href='#' class="reply text-green" ng-click="replyToComment($event, comment, comment, false)" ng-if="comment.data.userId != <%= user_signed_in? ? current_user.id : 0 %>">
      Reply
    </a>

    <a href='#' class="delete text-red pl-3" ng-click="deleteOthersComment($event, item, comment)" ng-if="item.share.user.id == <%= user_signed_in? ? current_user.id : 0 %> && comment.data.userId != <%= user_signed_in? ? current_user.id : 0 %>">
      Delete
    </a>
  </div>
</div>
