<div class="modal fade no_connection mobile_full" id="commentPostModal" tabindex="-1" role="dialog">
  <div class="modal-dialog scrollable medium" role="document">
    <div class="modal-content">

      <div class="modal-body share_post_modal">
        <div class="feed-listing feed-share">
          <%= render 'comments/card' %>
        </div>
      </div>
    </div>
  </div>
</div>