<div class="pt-md-2 comment-item comment-item-child px-2" data-comment-id="{{child.data.id}}">
  <div class="user_info d-flex justify-content-between align-items-start">

    <div class="user_info_inner d-flex align-items-start">
      <a href="{{comment.data.path}}">
        <img ng-src="{{child.data.photo}}" alt="Image of {{child.data.firstName}}" class="rounded-circle mr-3" />
      </a>
      <div class="comment_text">
        <h4>
          <a href="{{comment.data.path}}">
            {{comment.data.displayName}}
            <span class="text-muted">{{comment.data.username}}</span> &bullet;
            <span>
              <time datetime="{{comment.data.timeActual}}">
            {{comment.data.timeHuman}}
              </time>
            </span>
          </a>
        </h4>
        <p class="follow_summary mb-0" ng-bind-html="child.data.body"></p>
      </div>
    </div>

    <%= render 'common/options_menu' %>
  </div>

  <div class="reply_area pl-5" ng-if="item.canInteract == 'yes'">
    <a href='#' class="reply text-green" ng-click="replyToComment($event, child, comment, true)">Reply</a>
  </div>
</div>
