<div class="pt-2 opinion-item px-2">
  <div class="user_info_inner d-flex align-items-center">
    <a href="{{opinion.user.path}}">
    	<img ng-src="{{opinion.user.image}}" alt="Image of {{opinion.user.displayName}}" class="rounded-circle mr-3" />
    </a>
    <div class="px-0">
      <h4>
      	<a href="{{opinion.user.path}}">
      		{{opinion.user.displayName}}
      		<span class="text-muted">{{opinion.user.username}}</span>
      	</a>
      </h4>
    </div>
  </div>
</div>
