<div class="modal fade no_connection" id="opinionPostModal" tabindex="-1" role="dialog">
  <div class="modal-dialog scrollable medium" role="document">
    <div class="modal-content">

    	<div class="modal-header">
    		<h5 class="pt-2">Your post on {{item.date}}</h5>

        <button data-dismiss="modal" class="btn btn-link close_modal">
          <i class="fas fa-times"></i>
        </button>
    	</div>

      <div class="modal-body share_post_modal">
        <div class="feed-listing feed-share">
          <%= render 'opinions/card' %>
        </div>
      </div>
    </div>
  </div>
</div>
