<p>Hi Dev person,</p>

<p>A user has been added to the blacklist by <b><%= @admin_user.full_name %></b></p>

<table>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>User ID</th>
	</tr>
	<tr>
		<td><%= @user.full_name %></td>
		<td><%= @user.email %></td>
		<td><%= @user.id %></td>
	</tr>
</table>

<p>Go sort the firewall.....</p>