<div class="card py-2 px-2 mb-2 block_click" data-href="{{ item.path }}">
	<div class="align-items-start d-flex">

		<a href="{{ item.path }}">
			<img ng-src="{{item.image}}" class="rounded feed_image" alt="{{item.title}}" />
		</a>

		<div class="w-100">
			<div class="d-flex align-items-start justify-content-between">
				<div>
					<h5 class="card-title d-flex justify-content-between mb-1">
						<a href="{{ item.path }}">
							<span>{{ item.title }}</span>
						</a>
					</h5>
					<h6 class="mb-1">
						<a href="{{ item.path }}">
							<span>{{ item.author }}</span>
						</a>
					</h6>
				</div>
			</div>

			<div class="pb-0 pt-1" ng-if="item.snippet">
				<p class="card-text">
					<a href="{{ item.path }}">
						<small>{{ item.snippet }}</small>
					</a>
				</p>
			</div>
		</div>

	</div>

	<div ng-if="item.isRatings" class="ratings mt-3">
		<h5 class="mb-1 text-black">Your ratings:</h5>
		<ul>
			<li>- Well argued: <b>{{ item.ratingWellWritten }}</b></li>
			<li>- Valid points: <b>{{ item.ratingValidPoints }}</b></li>
			<li>- Agree with arguments: <b>{{ item.ratingAgree }}</b></li>
		</ul>
	</div>

</div>