<div class="inner">
	<div class="img_mask">
		<div ng-if="article.isNew" class="new_article"><span>New</span></div>

		<a ng-if="article.image" href="{{ article.path }}">
			<img ng-src="{{ article.image }}" alt="{{ article.title }}" />
		</a>
	</div>

	<a ng-repeat="exchange in article.exchanges" href="{{ exchange.path }}" class="exchange-badge bg-colour-{{ $index+1 }}-dark exchange-{{ exchange.slug }}">
    <i ng-if="exchange.isSponsored" class="fas fa-star"></i>
	  {{ exchange.name }}
	</a>

	<header class="entry-header pt-0 px-3">
		<h4 class="entry-title mb-0" id="article-post-title-{{ article.id }}">
			<a href="{{ article.path }}" ng-bind="article.title"></a>
		</h4>
	</header>

	<div class="entry-content py-0 px-3">
		{{ article.excerpt }}
	</div>

	<footer class="entry-footer pt-1 px-3 pb-2">
		<p class="author_link"><a href="{{ article.author.path }}">by <span ng-bind-html="article.author.name"></span></a>
			<span class="entry-date">{{ article.publishedAt }}</span>
		</p>
	</footer>
</div>