<div id="who_to_follow" class="bg-white">
	<div class="pt-3 pb-2 pl-2">
		<h4 class="card-title pl-2">Who to follow on TheArticle</h4>
	</div>
	<div class="suggestions slick-carousel slide w-100 mb-0" data-slideout-ignore>
		<div ng-repeat="item in suggestions" class="profile-suggestion mb-3 slick-carousel-item feed-listing" data-user-id="{{item.id}}">
			<%= render partial: 'users/member_card', locals: { suggestions: true } %>
		</div>
	</div>
</div>