<div id="who_to_follow" class="bg-white" ng-hide="suggestionsLoaded && suggestions.length == 0">
	<div class="pt-3 pb-2 pl-2">
		<h4 class="bullet card-title">Who to follow on TheArticle</h4>
	</div>
	<p ng-if="!suggestionsLoaded" class="loading">Loading suggestions...</p>
	<div class="suggestions slick-carousel slide w-100 mb-2"
				data-page="{{item.page}}"
				ng-if="suggestionsLoaded && (suggestions.length > 2)"
				ng-class="{'initialising': !suggestionsCarouselReady[item.page]}"
				data-slideout-ignore>
		<div ng-repeat="item in suggestions" class="profile-suggestion mb-3 slick-carousel-item feed-suggestion feed-listing" data-user-id="{{item.id}}">
			<%= render partial: 'profile_suggestions/carousel_card', locals: { suggestions: true, show_ignore_btn: true } %>
		</div>
	</div>
</div>