<div id="who_to_follow" class="bg-white pb-0">
	<div class="pt-3 pb-1 px-2">
		<h4 class="bullet card-title">Who to follow on TheArticle</h4>
	</div>
	<div class="suggestions slick-carousel slide w-100 mb-2"
				data-page="{{item.page}}"
				data-slideout-ignore>
		<div ng-repeat="item in suggestions" class="mb-3 slick-carousel-item feed-listing feed-follow" data-user-id="{{item.id}}">
			<%= render partial: 'users/member_card', locals: { show_ignore_btn: true } %>
		</div>
	</div>
</div>