<div class="bg-white pb-3" id="sponsored_picks_for_feed">
	<div class="pt-3 pb-1 px-2">
		<h4 class="bullet card-title">Sponsored picks</h4>
	</div>
	<p ng-if="!sponsoredPicksLoaded" class="loading">Loading sponsored picks...</p>
	<div class="sponsored_picks sponsored_picks_carousel slick-carousel slide w-100"
				data-page="{{item.page}}"
				data-slideout-ignore
				ng-if="sponsoredPicksLoaded">
	  <article ng-repeat="article in sponsoredPicks"
	  				class="mx-2 article-listing post sponsored_article slick-carousel-item block_click"
	  				id="carousel-latest-article-listing-{{ article.id }}"
	  				data-id="{{ article.id }}"
	  				data-href="{{  article.path }}">
	  	<%= render partial: 'articles/item' %>
	  </article>
	</div>
</div>