<div class="card inner" ng-class="{'seen': item.isSeen}">
	<div class="d-flex justify-content-start align-items-start"
					ng-click="callNotificationAction(item, $event)">
		<img ng-if="item.type=='categorisation'" ng-src="{{item.exchange.image}}" alt="{{item.exchange.name}}" class="mt-2 mb-1 exchange_image" />

		<p class="notification_body d-flex justify-content-start align-items-start pt-2">
			<span ng-if="item.type!='categorisation'"><i ng-class="{
				'fas fa-thumbs-up': item.type=='opinion' && item.specificType=='agree',
				'fas fa-thumbs-down': item.type=='opinion' && item.specificType=='disagree',
				'far fa-comment-alt': (item.type=='comment' || item.type=='reply'),
				'fas fa-users': item.type=='follow'
			}"></i></span>
			<span ng-bind-html="item.body" data-notification="{{item.id}}"></span>
		</p>
	</div>

	<time class="happened_at">{{item.happenedAt}}</time>
</div>