<div class="card inner" ng-class="{'seen': item.isSeen}">
	<div class="d-flex justify-content-start align-items-start" ng-click="callNotificationAction(item, $event)">
		<img ng-if="item.type=='categorisation'" ng-src="{{item.exchange.image}}" alt="{{item.exchange.name}}" class="exchange_image" />

		<i ng-if="item.type!='categorisation'" ng-class="{
			'fas fa-thumbs-up': item.type=='opinion' && item.specificType=='agree',
			'fas fa-thumbs-down': item.type=='opinion' && item.specificType=='disagree',
			'far fa-comment-alt': item.type=='comment',
			'fas fa-users': item.type=='follow'
		}"></i>

		<p class="d-flex align-items-center">
			<span ng-bind-html="item.body"></span>
		</p>
	</div>

	<time class="happened_at">{{item.happenedAt}}</time>
</div>