<div class="card inner" ng-class="{'seen': item.isSeen}">
	<div class="d-flex justify-content-start align-items-start" ng-click="callNotificationAction(item, $event)">

		<span><i ng-class="{
			'fa fa-thumbs-up': item.type=='opinion' && item.specificType=='agree',
			'fa fa-thumbs-down': item.type=='opinion' && item.specificType=='disagree',
			'far fa-comment': (item.type=='comment' || item.type=='reply'),
			'fa fa-users': item.type=='follow',
			'fa fa-newspaper-o': item.type=='categorisation',
			'fa fa-mail-forward': item.type=='mentioner'
		}"></i></span>

		<p class="d-flex align-items-center">
			<span ng-bind-html="item.body" data-notification="{{item.id}}"></span>
		</p>
	</div>

	<time class="happened_at">{{item.happenedAt}}</time>
</div>