<% suggestions = false if local_assigns[:suggestions].nil? %>
<div class="card pb-2 block_click" data-href="{{ item.path }}">
	<div class="card-img-top cover_photo">
		<a href="{{item.path}}">
			<img class="w-100" ng-src="{{item.coverPhoto}}" alt="{{item.displayName}}" ng-if="item.coverPhoto" />
		</a>
	</div>

	<div class="card-body py-2 w-100">
		<div class="d-flex align-items-start justify-content-between mb-2">
			<a href="{{ item.path }}">
				<img ng-src="{{item.profilePhoto}}" class="rounded-circle feed_image with_cover_image" alt="{{item.displayName}}" />
			</a>
			<button class="btn btn-sm follow_btn"
							ng-class="{ 'btn-outline-success': !item.imFollowing, 'btn-success': item.imFollowing }"
							ng-click="<%= suggestions ? 'toggleFollowSuggestion(item)' : 'toggleFollowUserFromCard(item, $event)' %>">
				<i class="fas fa-users mr-2"></i>
				<span ng-show="item.imFollowing">Following</span>
				<span ng-show="!item.imFollowing">Follow</span>
			</button>
		</div>
		<h5 class="card-title d-flex justify-content-between mb-0">
			<a href="{{ item.path }}"><span>{{ item.displayName }}</span></a>
			<span ng-show="item.isFollowingMe" class="badge follower-badge">Follows you</span>
		</h5>

		<h6 class="text-muted">
			<small>
				<a href="{{ item.path }}">
					{{ item.username }}
				</a>
			</small>
		</h6>

		<p class="card-text">
			<small>
				<a href="{{ item.path }}">
					{{ item.bio }}
				</a>
			</small>
		</p>
	</div>
</div>