<div class="card py-2 px-2 mb-2">
	<div class="align-items-start d-flex">

		<img ng-src="{{member.profilePhoto}}" class="rounded-circle feed_image" alt="{{member.displayName}}" />

		<div class="w-100">
			<div class="d-flex align-items-start justify-content-between">
				<div>
					<h5 class="card-title d-flex justify-content-between mb-1">
						<span>{{ member.displayName }}</span>
					</h5>
					<h6 class="text-muted mb-1">
						<span>{{ member.username }}</span>
						<span ng-show="member.isFollowingMe" class="badge follower-badge">Follows you</span>
					</h6>
				</div>

				<button class="btn btn-sm follow_btn"
								ng-class="{ 'btn-outline-success': !member.imFollowing, 'btn-success': member.imFollowing }"
								ng-click="toggleFollowUserFromCard(member, $event)">
					<i class="fas fa-users mr-2"></i>
					<span ng-show="member.imFollowing">Following</span>
					<span ng-show="!member.imFollowing">Follow</span>
				</button>
			</div>

			<div class="py-0 w-100">
				<p class="card-text"><small>{{ member.bio }}</small></p>
			</div>
		</div>


	</div>
</div>