<%
	suggestions = false
	show_ignore_btn = false
	if local_assigns
		suggestions = local_assigns[:suggestions] || false
		show_ignore_btn = local_assigns[:show_ignore_btn] || false
	end
	show_links = (suggestions == false || show_ignore_btn == true) ? true : false
%>
<div class="feed-follow-inner py-2 px-2 mb-2 block_click h-100" data-href="{{ item.path }}">
	<div class="align-items-start d-flex">
		<% if show_links %><a href="{{ item.path }}"><% end %>
			<img ng-src="{{item.profilePhoto}}" class="rounded-circle feed_image mr-2" alt="{{item.displayName}}" />
		<% if show_links %></a><% end %>

		<div class="w-100">
			<div class="d-flex align-items-start justify-content-between">
				<div>
					<h5 class="card-title d-flex justify-content-between mb-1">
						<% if show_links %><a href="{{ item.path }}"><% end %>
							<span>{{ item.displayName }}</span>
						<% if show_links %></a><% end %>
					</h5>
					<h6 class="text-muted mb-1">
						<% if show_links %><a href="{{ item.path }}"><% end %>
							<span>{{ item.username }}</span>
						<% if show_links %></a><% end %>
						<span ng-show="item.isFollowingMe" class="badge follower-badge">Follows you</span>
					</h6>
				</div>

				<% if show_ignore_btn == true %>
					<button class="ignore_suggestion"
									ng-click="ignoreSuggestion(item, $event)"
									ng-show="!item.imFollowing">
						<i class="fas fa-times text-grey-dark text-increase-1 mt-1"></i>
					</button>
				<% end %>
			</div>


			<p class="extra_info mb-0" ng-if="item.extraInfo.followerCount || item.extraInfo.ratingsCount">
				<small ng-if="item.extraInfo.followerCount">
					<% if show_links %><a href="{{item.path}}?panel=followers"><% end %>
						<i class="text-dark fa fa-users mr-1" aria-hidden="true"></i>
						<span class="text-green" ng-bind-html="item.extraInfo.followerCount"></span>
					<% if show_links %></a><% end %>
					<span ng-if="item.extraInfo.ratingsCount" class="mx-1"> | </span>
				</small>
				<small ng-if="item.extraInfo.ratingsCount">
					<% if show_links %><a href="{{item.path}}?panel=ratings"><% end %>
						<i class="text-dark fa fa-meh-o mr-1" aria-hidden="true"></i>
						<span class="text-green" ng-bind-html="item.extraInfo.ratingsCount"></span>
					<% if show_links %></a><% end %>
				</small>
			</p>
			<p class="extra_info mb-0" ng-if="item.extraInfo.publishedArticlesCount && item.authorPath">
				<small>
					<% if show_links %><a href="{{item.authorPath}}"><% end %>
						<i class="text-dark fa fa-newspaper-o mr-1" aria-hidden="true"></i>
						<span class="text-green" ng-bind-html="item.extraInfo.publishedArticlesCount"></span>
					<% if show_links %></a><% end %>
				</small>
			</p>

			<div class="py-0 w-100" ng-if="(item.bio.length > 0) && (!item.isBlocked && !item.isBlockingMe)">
				<p class="card-text">
					<% if show_links %><a href="{{ item.path }}"><% end %>
						<small>{{ item.bio }}</small>
					<% if show_links %></a><% end %>
				</p>
			</div>

		</div>
	</div>

	<div class="shared_followers" ng-if="item.sharedFollowers.length > 0" ng-bind-html="item.sharedFollowers"></div>

	<% if user_signed_in? %>
		<div class="container follow_btn_container">
			<button class="btn btn-block btn-sm follow_btn mt-2"
							ng-class="{ 'btn-outline-success': !item.imFollowing, 'btn-success': item.imFollowing }"
							ng-click="<%= suggestions ? 'toggleFollowSuggestion(item, $event)' : 'toggleFollowUserFromCard(item, $event)' %>"
							ng-if="(!item.isMe) && (!item.isMute) && (!item.isBlock) && (!item.isBlocked) && (!item.isBlockingMe)">
				<i class="fas fa-users mr-2"></i>
				<span ng-show="item.imFollowing">Following</span>
				<span ng-show="!item.imFollowing">Follow</span>
			</button>

			<button class="btn btn-block btn-sm mt-2 btn-info"
							ng-click="unmute(item, $event)"
							ng-if="item.isMute">
				Unmute
			</button>

			<button class="btn btn-block btn-sm mt-2 btn-info"
							ng-click="unblock(item, $event)"
							ng-if="item.isBlock">
				Unblock
			</button>
		</div>
	<% else %>
		<button class="btn btn-block btn-sm follow_btn btn-outline-success"
						 ng-click="actionRequiresSignIn($event, 'follow ' + item.displayName)">
			<i class="fas fa-users mr-2"></i>
			Follow
		</button>
	<% end %>
</div>