<%
	if local_assigns[:locals]
		suggestions = [:suggestions].nil? ? false : true
	end
%>
<div class="py-2 px-2 mb-2">
	<div class="align-items-start d-flex">
		<% unless suggestions == true %><a href="{{ item.path }}"><% end %>
			<img ng-src="{{item.profilePhoto}}" class="rounded-circle feed_image mr-2" alt="{{item.displayName}}" />
		<% unless suggestions == true %></a><% end %>

		<div class="w-100">
			<div class="d-flex align-items-start justify-content-between">
				<div>
					<h5 class="card-title d-flex justify-content-between mb-1">
						<% unless suggestions == true %><a href="{{ item.path }}"><% end %>
							<span>{{ item.displayName }}</span>
						<% unless suggestions == true %></a><% end %>
					</h5>
					<h6 class="text-muted mb-1">
						<% unless suggestions == true %><a href="{{ item.path }}"><% end %>
							<span>{{ item.username }}</span>
						<% unless suggestions == true %></a><% end %>
						<span ng-show="item.isFollowingMe" class="badge follower-badge">Follows you</span>
					</h6>
				</div>

				<% if user_signed_in? %>
					<button class="btn btn-sm follow_btn mt-2"
									ng-class="{ 'btn-outline-success': !item.imFollowing, 'btn-success': item.imFollowing }"
									ng-click="<%= suggestions ? 'toggleFollowSuggestion(item, $event)' : 'toggleFollowUserFromCard(item, $event)' %>"
									ng-if="(!item.isMe) && (!item.isMute) && (!item.isBlock) && (!item.isBlocked) && (!item.isBlockingMe)">
						<i class="fas fa-users mr-2"></i>
						<span ng-show="item.imFollowing">Following</span>
						<span ng-show="!item.imFollowing">Follow</span>
					</button>

					<button class="btn btn-sm mt-2 btn-info"
									ng-click="unmute(item, $event)"
									ng-if="item.isMute">
						Unmute
					</button>

					<button class="btn btn-sm mt-2 btn-info"
									ng-click="unblock(item, $event)"
									ng-if="item.isBlock">
						Unblock
					</button>
				<% else %>
					<button class="btn btn-sm follow_btn btn-outline-success"
									 ng-click="actionRequiresSignIn($event, 'follow ' + item.displayName)">
						<i class="fas fa-users mr-2"></i>
						Follow
					</button>
				<% end %>
			</div>

			<div class="py-0 w-100">
				<p class="card-text" ng-if="!item.isBlocked && !item.isBlockingMe">
					<% unless suggestions == true %><a href="{{ item.path }}"><% end %>
						<small>{{ item.bio }}</small>
					<% unless suggestions == true %></a><% end %>
				</p>
			</div>

		</div>
	</div>

	<div class="shared_followers w-100" ng-if="item.sharedFollowers.length > 0" ng-bind-html="item.sharedFollowers"></div>
</div>