<section ng-controller="ProfileController" class="container show-profile" data-user-id="<%= @user.id %>">
	<div ng-show="profile.loaded && profile.loadError" class="container mt-4">
		<div class="alert alert-danger">
			<p>{{profile.loadError}}</p>
		</div>
	</div>
	<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

	<section id="cover_photo" class="row" ng-show="profile.loaded && !profile.loadError">
		<div class="col-12">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle" ng-if="profile.isMe">
				<i class="fas fa-image"></i>
			</a>
		</div>
	</section>

	<section id="top_bar" class="row bg-grey">
		<div class="col-2"></div>
		<ul class="col-8 nav nav-tabs nav-fill d-flex">
		  <li class="nav-item">
		    <a class="nav-link active" id="activity-all-tab" data-toggle="tab" href="#activity-all">
		      <label>All</label>
		    </a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" id="activity-following-tab" data-toggle="tab" href="#activity-following">
			  	<label>Following</label>
			  	<span>{{ profile.data.following }}</span>
			  </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-followers-tab" data-toggle="tab" href="#activity-followers">
					<label>Followers</label>
					<span>{{ profile.data.followers }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-ratings-tab" data-toggle="tab" href="#activity-ratings">
		    	<label>Ratings</label>
		    	<span>{{ profile.data.ratings }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-shares-tab" data-toggle="tab" href="#activity-shares">
					<label>Shares</label>
					<span>{{ profile.data.shares }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-exchanges-tab" data-toggle="tab" href="#activity-exchanges">
					<label>Exchanges</label>
					<span>{{ profile.data.exchanges }}</span>
		    </a>
		  </li>
		</ul>
		<div class="col-2 px-0 navbar mt-2">
			<div class="btn-group" ng-show="profile.loaded && profile.isMe && !profile.loadError">
			  <button class="btn btn-outline-success btn-sm" type="button" ng-click="editProfile()">
			    Edit profile
			  </button>
			  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="sr-only">Toggle Dropdown</span>
			    <i class="fas fa-cog" aria-hidden="true"></i>
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#" ng-click="editProfile()">Edit profile</a>
	        <a class="dropdown-item" href="#" ng-click="editProfilePhoto()">Edit profile photo</a>
	        <a class="dropdown-item" href="#" ng-click="editCoverPhoto()">Edit cover photo</a>
			  </div>
			</div>
		</div>
	</section>

	<div class="row">
		<section class="col-3" id="basic_info" ng-show="profile.loaded && !profile.loadError">

			<img ng-src="{{ profile.data.profilePhoto }}" class="rounded-circle" alt="<%= current_user.display_name %>"ng-click="editProfilePhoto()" ng-class="{'editable': profile.isMe}" />

			<div class="pl-2">
				<h5>{{ profile.data.displayName }}</h5>
				<h6 class="text-muted mb-4">{{ profile.data.username }}</h6>
				<p>
					<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
				</p>

				<p ng-if="profile.data.location.length > 0">
					<i class="fas fa-map-marker-alt"></i>
					<span class="pl-3">{{ profile.data.location }}</span>
				</p>
				<p ng-if="(!profile.data.location || profile.data.location.length == 0) && profile.isMe">
					<a href='#' ng-click="editProfile('location')">
						<i class="fas fa-map-marker-alt"></i>
						<span class="pl-3">Add Location</span>
					</a>
				</p>

				<p ng-if="profile.data.bio.length > 0">
					{{ profile.data.bio }}
				</p>
				<p ng-if="(!profile.data.bio || profile.data.bio.length == 0) && profile.isMe">
					<a href='#' ng-click="editProfile('bio')">
						<i class="far fa-plus-square"></i>
						<span class="pl-3">Add Bio</span>
					</a>
				</p>

				<div class="call-to-action-card card" ng-show="profile.data.isNew && profile.isMe">
					<div class="card-header">
						Fill out your profile
					</div>
					<div class="card-body">
						<p class="card-text">Add information and photos to your profile to help people find you</p>
					</div>
				</div>
			</div>
		</section>

		<section class="col-6" id="feed" ng-show="profile.loaded && !profile.loadError">
			<div class="tab-content container" id="activity-tabs">
				<div class="tab-pane fade pt-4 show active" id="activity-all" role="tabpanel" aria-labelledby="activity-all-tab">
					All
				</div>
				<div class="tab-pane fade pt-4" id="activity-following" role="tabpanel" aria-labelledby="activity-following-tab">
					Following
				</div>
				<div class="tab-pane fade pt-4" id="activity-followers" role="tabpanel" aria-labelledby="activity-followers-tab">
					Followers
				</div>
				<div class="tab-pane fade pt-4" id="activity-ratings" role="tabpanel" aria-labelledby="activity-ratings-tab">
					Ratings
				</div>
				<div class="tab-pane fade pt-4" id="activity-shares" role="tabpanel" aria-labelledby="activity-shares-tab">
					Shares
				</div>
				<div class="tab-pane fade pt-4" id="activity-exchanges" role="tabpanel" aria-labelledby="activity-exchanges-tab">
					Exchanges
				</div>
			</div>
		</section>

		<section class="col-3 pr-0" id="callouts" ng-show="profile.loaded && !profile.loadError">
			<div id="who_to_follow" class="callout my-2 bg-grey px-3 py-3">
				<h5>Who to follow on TheArticle</h5>
			</div>
			<div id="trending_articles" class="callout my-2 bg-grey px-3 py-3">
				<h5>Trending Articles</h5>
			</div>
		</section>
	</div>
</section>