.article_detail {
	.top_line {

		p#article_exchanges {
			margin-bottom: 5px;

			.exchange-badge {
				margin-right: 12px;
			}
		}

		time {
			font-size: 0.9em;
			color: #999;
			font-weight: 600;
		}
	}

	h1.entry-title {
		font-size: 3.3em;
	}

	#article_meta {
		.author_info {
			font-size: 0.75em;
			font-weight: 600;
			position: relative;
			top: 9px;
			display: flex;
			color: #565656;

			a {
				color: darken($grey, 11%);
				span {
					text-decoration: underline;
					text-transform: uppercase;
					letter-spacing: 0.7px;
				}
			}

			a#article_author_thumbnail {
				width: 32px;
				position: relative;
		    top: -8px;

				img {
					width: 100%;
					border-radius: 30px;
				}
			}

			.article_author_user {
				img {
					width: 17px;
					margin-left: 9px;
					margin-right: 2px;
				}
			}

			.fa-twitter {
				font-size: 19px;

				& + span {
					position: relative;
					top: -3px;
				}
			}
		}
	}

	#content_box {
		& > p {
			line-height: 1.5em;

			a {
				color: $green;
			}
		}

		.ads_box {
			line-height: 0;
		}

		.wp-caption-text {
			font-size: 0.9em;
	    font-weight: 500;
	    position: relative;
	    top: -1em;
	    font-style: italic;
	    text-align: right;
		}

		blockquote {
			font-size: 1.25em;
			font-weight: 500;
			line-height: 1.9em;
			margin: 2.7em 0;
			font-style: italic;
			color: #000;
		}

		.wp-caption {
			max-width: 100%;

			&.aligncenter {
				margin: 30px auto 0;
				clear: both;
			}
		}

		img {
			max-width: 100%;
			display: block;
			margin: 18px 0;
			// height: auto;
		}
	}

	.share_links {
		& > div {
			p {
				font-size: 0.7em;
		    font-weight: 600;
		    color: $grey;
		    text-align: right;
		    line-height: 2.4em;
		    position: relative;
        top: 4px;
			}

			a {
				padding: 6px 0.5em 3px !important;
				width: 50px;
				font-size: 1em;
				height: 35px;

				&.thearticle_share {
					background-image: asset_url('capital-a-bg-black.png');
					background-repeat: no-repeat;
					background-size: 36.5%;
					background-position: center center;

					&:hover {
						background-image: asset_url('capital-a-bg-white.png');
					}
				}

				i, svg {
					position: relative;
					left: -2px;
				}
			}
		}
	}

	#img_box {
		position: relative;

		p.caption {
			margin: 0;
			position: absolute;
			bottom: 0;
			right: 0;
			background: rgba(0,0,0,0.45);
			padding: 5px 8px;
			color: #d6d6d6;
			font-size: 0.7em;
			text-align: right;
		}
	}

	.sidebar_inner {
		width: 300px;
		margin: 36px auto;
	}

	.rate_this {
		background-image: asset_url('capital-a-bg.png');
		background-repeat: no-repeat;
		background-position: 7px 3px;
		background-size: 26px;
		padding-left: 30px !important;
	}
}