.slick-carousel {
	.inner {
		opacity: 0;

		&.shown {
			transition: opacity 1s;
			opacity: 1;
		}
	}

	.slick-carousel-item {
		outline: none;
	}

	.slick-arrow {
		z-index: 99;
		text-shadow: 2px 2px 8px #000;

		&:before {
			font-size: 35px;
		}

		&.slick-prev {
			left: 2vw;
			width: 40px;
			height: 40px;
		}

		&.slick-next {
			right: 2.5vw;
			width: 40px;
			height: 40px;
		}
	}

	&.articles,
	&.exchanges,
	&.journalists {
		.slick-carousel-item {
			background-repeat: no-repeat;
			background-size: cover;
			text-align: left;
			cursor: pointer;
			height: 100%;

			h2 {
				color: #fff;
				margin-top: 5px;
				font-size: 1.5em;
		    line-height: 1.1em;

				a {
					color: #fff;

					&:hover {
						text-decoration: none;
						color: #eee !important;
					}
				}
			}

			.exchange-badge {
				margin-right: 10px;
			}

			footer.entry-footer {
				padding: 0;
				color: #fff;

				a {
					color: #fff;
				}

				.entry-date {
					color: #fff;
					margin-left: 11px;
				}

				.author_link {
					font-size: 0.7em;
					font-weight: 500;

					a {
						span {
							text-decoration: underline;
							text-transform: uppercase;
							letter-spacing: 1px;
						}

						&:hover {
							text-decoration: none;
							color: #eee !important;

							span {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	&.articles {
		.slick-carousel-item {
			margin: 0 6px;

			.mask {
				.inner {
					padding: 0 22px;
				}
			}
		}

		.slick-track {
			height: 350px;
		}
	}

	&.suggestions {
		.slick-track {
			height: 305px;
		}

		.slick-carousel-item {
			margin: 0 12px;
			text-align: center;
			font-size: 1.35em;
			padding: 25px 0 0;
			border: 1px solid #ccc;
			position: relative;

			.shared_followers {
				.single, .double {
					display: none;
				}

				p {
					width: 100%;
					line-height: 1.8em;
					top: 1px;
				}
			}

			.follow_btn {
				width: 76%;
				position: absolute;
				bottom: 18px;
				left: 12%;
			}

			img.feed_image {
				width: 110px;
				height: 110px;
				margin: 0 auto 20px;
				display: block;
			}
		}

		.slick-arrow.slick-prev {
			left: -14px;
		}

		.slick-arrow.slick-next {
			right: -14px;
		}
	}

	&.journalists {
		cursor: pointer;

		.slick-track {
			height: 235px;
		}

		.slick-carousel-item {
			margin: 0 6px;

			.inner {
				background-repeat: no-repeat;
				background-size: cover;
				height: 100%;
				position: relative;

				.inner_inner {
					text-align: center;
					// padding-top: 68%;
					transition: all 0.4s;
					position: absolute;
					bottom: 0;
					padding-top: 6%;
					padding-bottom: 8px;
					width: 100%;
					min-height: 10%;

					.entry-content {
						font-size: 0.8em;
						line-height: 1.3em;
						max-width: 90%;
						display: block;
						height: 0;
						opacity: 0;
						transition: all 0.4s;
					}

					h3 {
						font-size: 1.2em;
						line-height: 1.1em;
					}

					h4 {
						font-size: 1em;
					}
				}
			}

			&.hovered {
				.inner {
					.inner_inner {
						background-color: rgba(0,0,0,0.4);
						min-height: 100%;

						.entry-content {
							height: 50px;
							opacity: 1;
						}
					}
				}
			}
		}
	}

	.slick-dots {
		li {
			margin: 0 2px;
		}
	}
}