/* FOLLOW / UNFOLLOW BUTTON */
.follow_exchange {
	color: #fff;
	border: 2px solid #fff;
	padding: 5px 8px;
	position: relative;
	top: -4px;
	outline: none;

	&:focus,
	&:active {
		outline: none;
	}

	&.followed {
		background: #fff;
	}

	i, svg {
		font-size: 1em;
	}
}

/* CAROUSELS */
.slick-carousel.exchanges {
	.slick-track {
		height: 330px;
	}

	.slick-carousel-item {
		margin: 0 6px;
		outline: none;

		&:focus {
			outline: none;
		}

		.img {
			width: 100%;
			height: 75%;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.entry-content {
			padding: 20px;
			height: 25%;

			h4 {
				font-size: 1.5em;
				margin: 0.1em 0 0.3em;
				color: #fff;

				a.exchange-link {
					width: 87%;
					outline: none;

					&:focus {
						outline: none;
					}
				}

				a {
					color: #fff;

					&:hover {
						text-decoration: none;
						color: #eee !important;
					}
				}
			}

			p {
				font-size: 0.9em;
				color: #fff;
				line-height: 1.15em;
			}
		}
	}
}

/* LISTINGS */
.article-listing.exchange {
	height: 246px;

	.inner {
		background-color: $black;

		.img_mask {
			height: 75%;
		}

		.heading_box {
			h5 {
				font-size: 1em;
				line-height: 1.35em;

				a.follow_exchange {
					top: -2px;
				}

				a.exchange-link {
					width: 80%;
					outline: none;
					line-height: 1.2em;

					&:focus {
						outline: none;
					}
				}
			}
		}
	}
}

/* BADGES */
.exchange-badge {
	text-transform: uppercase;
	color: white;
	display: inline-block;
	padding: 3px 8px 3px;
	letter-spacing: 1.3px;
	margin: 0;
	font-size: 0.55em;
	font-weight: 600;
	position: relative;
	top: -4px;
	white-space: nowrap;

	&:hover {
		text-decoration: none;
		color: #eee !important;
	}

	&.exchange-editor-at-the-article {
		background-color: $black;
		border: 1px solid #ffffff;
		border-radius: 1px;
	}

	&.exchange-sponsored {
		@extend .bg-gold-dark;
		padding-left: 10px;

		i, svg {
			margin-right: 4px;
			position: relative;
			top: -1px;
		}
	}
}

/* SHOW PAGE */
#exchange_show_box {
	.exchange_description {
		a {
			color: $green;
		}
	}
}