.feed-listing {
	height: 270px;

	img.feed_image {
		width: 3.7em;
		height: 3.7em;
		margin-right: 10px;
		border: 3px solid #fff;
		position: relative;
		top: -2.2em;
		left: 0;
		margin-bottom: -1.8em;
	}

	.follow_btn {
    font-size: 0.6em;
	}

	.card-text {
		line-height: 1.1em;
	}

	.cover_photo {
		height: 50px;
	}

	h5 {
		font-size: 0.9em;
	}

	.follower-badge {
		position: relative;
		top: -2px;
		background: #ccc;
		padding: 4px 9px;
		font-weight: normal;
		font-size: 0.6em;
	}

	&.feed-exchange {
		border-bottom: 1px solid #ddd;

		.feed_text {
			p {
				font-size: 0.85em;
			}
		}
	}
}