#activity-tabs {
}

.feed-listing {
	margin-bottom: 10px;

	&:last-child {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	.card {
		border-radius: 0;
	}

	&.feed-share {
		.comments_pane {
			border-left: 1px dashed $grey;
			border-bottom: 1px dashed $grey;
			border-right: 1px dashed $grey;
			background: #fff;

			.respond {
				padding: 23px 35px;
				background: #dfdfdf;

				img {
					width: 45px;
					height: 45px;
				}

				textarea {
					height: 3em;
				}
			}

			.comments {
				ol {
					list-style: none;
					padding: 10px 0;

					li {
						a.show_more {
							margin-left: 48px;
						}

						.comment-item {
							.reply_area {
								margin: -8px 0 6px 63px;
								font-size: 1.1em;
							}

							h4 {
								span {
									font-weight: normal;
									font-size: 0.9em;
								}
							}

							&.comment-item-parent {
								img {
									width: 42px;
									height: 42px;
								}
							}
							&.comment-item-child {
								img {
									width: 30px;
									height: 30px;
								}
							}
						}

						&.with_children {
							.reply_area {
								border-left: 2px solid $green;
							}
						}

						ol.children {
							padding: 0 0 0 48px;

							.reply_area {
								border-left: 2px solid $green;
								margin-left: 18px;
							}

							li:last-child {
								& > .comment-item {
									.reply_area {
										border-left: none;
									}
								}
							}
						}
					}
				}
			}
		}

		.opinions_pane {
			border-left: 1px dashed $grey;
			border-bottom: 1px dashed $grey;
			border-right: 1px dashed $grey;
			background: #fff;
			padding-top: 8px;

			ol {
				list-style: none;
				padding: 10px 15px;

				li {
					.opinion-item {
						margin-bottom: 5px;
						// padding: 0 10px;
						h4 {
							span {
								font-weight: normal;
								font-size: 0.9em;
							}
						}

						img {
							width: 35px;
							height: 35px;
							position: relative;
							top: -2px;
						}
					}
				}
			}
		}
	}

	&.feed-share,
	&.feed-exchange {
		height: initial;

		.card {
			padding: 16px;

			.follow_summary {
				font-size: 0.95em;
				max-width: 90%;
				a {
					text-decoration: underline;
				}
			}

			.share_menu_btn {
				font-size: 1.4em;
				position: relative;
				top: 0px;
				right: 0px;

				a {
					color: inherit;
				}
			}

			.ratings {
				background: #222;
				border-radius: 2px;
		    color: #fff;
		    padding: 18px 20px 12px;
		    margin-bottom: 12px;

		    label {
		    	font-weight: bold;
		    }

		    .star {
		    	border: 1px solid #747474;
					margin-right: 5px;
					padding: 1px 3px;
					font-size: 0.85em;
					position: relative;
					top: 1px;
		    }
			}

			button {
		    border-top-left-radius: 0;
		    border-top-right-radius: 0;

		    &.follow_btn {
		    	font-size: 0.85em;
		    }
			}

			.user_info {
				h4 {
					margin-bottom: 3px;
					span {
						font-weight: normal;
					}
				}

				img {
					width: 45px;
					height: 45px;
					margin-right: 8px;
				}
			}

			.share_meta {
				font-size: 0.85em;
				padding: 0 4px;

				.count_box {
					text-align: center;

					&:first-child {
						text-align: left;
					}

					&:last-child {
						text-align: right;
					}

					a {
						color: inherit;
					}
				}

				svg {
					// color: $blue_dark;
			    margin-right: 3px;
				}
			}

			.share_actions {
				border-top: 1px solid #ccc;
				margin-top: 16px;
				position: relative;

				a {
					svg {
						margin-right: 4px;
					}

					&.agree_action,
					&.disagree_action {
						&.selected {
							color: #ccc;

							&:hover,
							&:active,
							&:focus {
								color: #ccc !important;
							}
						}
					}
				}

				&.ghosted {
					a.action {
						opacity: 0.3;
					}
				}

				a.helper {
					// font-size: 1.4em;
					color: #727272;
					line-height: 1;
					position: absolute;
					top: 18px;
					right: 0px;
					font-weight: normal;
				}

			}

			.article_box {
				width: 100%;
		    border-radius: 5px;
		    border: 1px solid #efefef;
		    overflow: hidden;
		    margin-bottom: 11px;
		    box-shadow: 2px 2px 3px #aaa;

		    .img_mask {
		    	margin-bottom: -11px;
		    }

		    img {
		    	width: 100%;
		    	margin-bottom: 12px
		    }
			}
		}
	}

	&.feed-article {
		height: 210px;

		&.feed-ratings {
			height: 220px;

			.card {
				position: relative;

				.ratings {
					font-size: 0.9em;
					background: $grey_light;
					padding: 12px;
					overflow: hidden;
					position: absolute;
			    bottom: 0px;
			    width: 100%;
			    left: 0;

					h5 {
						font-size: 1em;
					}

					ul {
						padding: 0;
						margin: 0;

						li {
							list-style: none;
							font-weight: 500;
						}
					}
				}
			}
		}

		.card {
			height: 100%;

			h6 {
				color: $grey;
			}
		}
	}

	img.feed_image {
		width: 3.7em;
		height: 3.7em;
		margin-right: 10px;
		border: 3px solid #fff;

		&.with_cover_image {
			position: relative;
			top: -2.2em;
			left: 0;
			margin-bottom: -1.8em;
		}
	}

	.follow_btn {
    font-size: 0.6em;
	}

	.card-text {
		line-height: 1.1em;

		a {
			color: inherit;

			&:hover {
				color: inherit !important;
			}
		}
	}

	.cover_photo {
		height: 50px;
	}

	h4 {
		font-size: 1em;

		a {
			color: inherit;

			&:hover {
				color: inherit !important;
			}
		}
	}

	h5 {
		font-size: 0.9em;

		a {
			color: inherit;

			&:hover {
				color: inherit !important;
			}
		}
	}

	h6 {
		font-size: 0.85em;

		a {
			color: inherit;

			&:hover {
				color: inherit !important;
			}
		}
	}

	.follower-badge {
		position: relative;
		top: -2px;
		background: #ccc;
		padding: 4px 9px;
		font-weight: normal;
		font-size: 0.6em;
		height: fit-content;
	}

	&.wide {
		max-height: 230px;
		height: fit-content;
		margin-bottom: 12px;
	}

	.article_card {
		height: 190px;
	}
}


#feed {
	overflow-y: auto;
	min-height: 80vh;

	.ratings_summary {
		.inner {
			background: #222;
	    color: #fff;
	    padding: 18px 20px 12px;
	    // margin-bottom: 12px;

	    h4 {
	    	color: #fff;
	    }

	    p {
				color: #fff;
				margin-bottom: 6px;
				font-size: 0.8em;
	    }

	    label {
	    	font-weight: bold;
	    }

	    .star {
	    	border: 1px solid #747474;
				margin-right: 5px;
				padding: 1px 3px;
				font-size: 0.85em;
				position: relative;
				top: 1px;
	    }
		}
	}

	.results_block {
		background: $grey_light;

		&.empty {
			background: transparent;

			p.empty_resource {
				padding: 12px;
				margin-top: 20px;
			}
		}

		h6.block_heading {
			display: block;
			background: $grey_light;
			color: #444;
			font-weight: 600;
		}

		.view_all {
			display: block;
			font-size: 0.85em;
			padding-left: 10px;

			a {
				color: $green;
			}
		}
	}
}


#callouts {
	.callout {

		#who_to_follow {
			height: 610px;
			// overflow-y: auto;

			nav#suggestions_options {
				font-size: 0.75em;

				.nav-link {
					color: $grey !important;

					&.active {
						color: #fff !important;
						background-color: #575757 !important;
					}
				}
			}

			.tab-content {
			}

			h5 {
				font-size: 1em;
			}

			.feed-listing {
				height: 170px;

				.cover_photo {
					height: 44px;
				}

				.card-body {
					padding-left: 0.5em;
					padding-right: 0.5em;
				}

				p.card-text {
					display: none;
				}
			}
		}

		#trending_articles {
			height: 200px;
		}
	}
}