main.front_page_index,
main.notifications_index,
main.account_settings_edit,
main.search_index,
main.profile_suggestions_index {
	#left_col {
		padding-right: 0;
	}

	#left_col,
	#callouts {
		.card {
			.card-header {
				background: #fff;

				h5 {
					margin-bottom: 0;
					text-align: center;
					color: $grey_dark;
					font-weight: bold;
				}
			}
		}
	}

	#front_page_profile_card {
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0.25rem;
		overflow: hidden;
		background: #fff;

		img.profile_image {
			width: 3.7em;
			height: 3.7em;
			margin-right: 10px;
			border: 3px solid #fff;
	    position: relative;
	    top: -1.8em;
			left: 9px;
			margin-bottom: -1.8em;
		}

		.cover_photo {
			height: 50px;
			width: 100%;
		}

		#stats_info {
			padding: 0 12px;
			.stats {
				cursor: pointer;
				text-align: center;

				label {
					cursor: pointer;
					font-size: 0.85em;
					font-weight: bold;
					color: lighten($grey_dark, 10%);
					margin-bottom: 0;
				}

				span {
					color: $green;
					font-size: 1.15em;
					font-weight: normal;
					padding-left: 4px;
				}
			}
		}
	}

	.latest_articles_carousel,
	.sponsored_picks_carousel {
		.article-listing {
			margin-bottom: 0 !important;

			.inner {
				// background: #fff !important;

				h4 {
					font-size: 1.4em;
					margin-left: 10px;
				}

				footer {
					// background: #fff !important;
				}
			}

		}
	}

	.trending_exchanges_carousel {
		.entry-content h4 {
			font-size: 1.2em !important;
		}
	}
}

#trending_exchanges_card {
	.exchange_item {
		img {
			width: 56px;
		}

		h5 {
			font-size: 1em;
		}
	}
}