body {
	width: 100%;
	width: 100vw;
	overflow-x: hidden;
}

[data-href] {
	cursor: pointer;

	// &:hover {
	// 	background: $grey_light;
	// }
}

.cloak {
	display: none;
}

p.h1,
p.h2,
p.h3,
p.h4,
p.h5,
p.h6 {
	line-height: 1.35em;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 2em;

	&.h1 {
		font-size: 2.6em;
		@extend .gabriela;
		color: $black;
	}
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
	font-weight: 600;
}

h5 {
	font-size: 1.2em;
}

header.black_heading {
	width: 100%;
	background-color: #000;
	background-image: linear-gradient(#323232, #000000);
	// height: 180px;

	div.container {
		img {
			width: 100%;
		}

		h1 {
			font-size: 3em;
			color: #fff;
		}

		h4 {
			color: #fff;
		}
	}
}

#ads_top_box {
	margin: 0 auto;
}

.row.collapse.show {
	display: flex;
}

/**** NAV ******/
header {
	&#main_header {
		position: relative;
		width: 100%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		background-color: #fff;
		transition: padding 0.5s;
		border-bottom: 1px solid #ccc;

		nav {
			li.nav-item {
				a {
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 1em;

					&.nav-icon {
						font-size: 1.3em;
						position: relative;
						top: 6px;

						&#nav_link_my_profile {
							font-size: 2em;
						}
					}

					&#nav_link_search {
						position: relative;
				    top: 0px;
				    left: -8px;
					}

					&.nav-icon-text {
						position: relative;
						top: -3px;

						span {
							font-size: 1.2em;
							position: relative;
							top: 1px;
						}
					}

					&#nav_link_mission {
						background-size: 0.95em;
						background-image: url('nav/mission.png');
					}

					&#nav_link_exchanges {
						background-image: url('nav/exchanges.png');
					}

					&#nav_link_join {
						background-image: url('nav/join.png');
						background-position: left 11px;
						padding-left: 1.8rem;
					}
				}
			}
		}

		nav#main_nav_left {
			li.nav-item {
				margin-right: 10px;
			}
		}

		nav#main_nav_right {
			li.nav-item {
				margin-left: 10px;
			}
		}

		&.short {
			padding-top: 0;
			padding-bottom: 0;

			nav {
				padding-top: 7px !important;
				padding-bottom: 0 !important;
			}

			#logo {
				background-size: 32%;
				font-size: 2.2em;
			}
		}
	}

	#logo {
		background-image: url('logo-2-lines.png');
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: center center;
		transition: background-size 0.5s;
		position: relative;
		top: 3px;

		a {
			width: inherit;
			height: inherit;
		}
	}
}

body.fixed-header {
	header#main_header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 90;
	}

	main#main_content {
		padding-top: 6.8rem;
	}
}


/**** BUTTONS ******/
button.btn,
a.btn {
	text-transform: uppercase !important;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	padding: 0.25rem 1.2rem !important;

	&:hover {
		color: #333;
	}
}

button.gabriela,
a.gabriela {
	@extend .gabriela;
	padding-top: 0.37rem !important;
}

button.btn.btn-clear,
a.btn.btn-clear {
	border: none;
	background: none;
	color: #fff;
	font-size: 28px;
}

footer.main_footer {
	nav#footer_nav {
		.nav-link {
			font-size: 0.9em;
		}
	}

	#copyright {
		background-image: url('capital-a.png');
		background-size: 9%;
		background-repeat: no-repeat;
		background-position: 15px center;

		p small {
			color: #a3a3a3;
			padding-left: 2rem;
			position: relative;
			top: 1.1em;
		}
	}

	#social_links {
		.nav-link {
			font-size: 23px;
		}
	}
}

/* SVG Overrides */
html.svg #logo {
	background-image: url('logo-2-lines.svg') !important;
	background-size: 50%;

	&.short {
		background-size: 32%;
	}
}

html.svg #copyright {
	background-image: url('capital-a.svg') !important;
	background-size: 14% !important;
}

html.svg header#main_header nav li.nav-item #nav_link_mission {
	background-size: 1em;
	background-image: url('nav/mission.svg') !important;
}

html.svg header#main_header nav li.nav-item #nav_link_exchanges {
	background-image: url('nav/exchanges.svg') !important;
}

html.svg header#main_header nav li.nav-item #nav_link_join {
	background-image: url('nav/join.svg') !important;
}

.exchange-badge {
	text-transform: uppercase;
	color: white;
	display: inline-block;
	padding: 3px 8px 3px;
	letter-spacing: 1.3px;
	margin: 0;
	font-size: 0.62em;
	font-weight: 600;
	position: relative;
	top: -4px;
	white-space: nowrap;

	&:hover {
		text-decoration: none;
		color: #eee !important;
	}

	&.exchange-editor-at-the-article {
		background-color: $black;
		border: 1px solid #ffffff;
		border-radius: 1px;
	}

	&.exchange-sponsored {
		@extend .bg-gold-dark;
		padding-left: 10px;

		svg {
			margin-right: 4px;
			position: relative;
			top: -1px;
		}
	}
}

/**** LISTINGS ******/
.article-listing {
	overflow: hidden;
	margin-bottom: 60px;

	.inner {
		height: 100%;

		.img_mask {
			width: 100%;
			overflow-y: hidden;
			transition: height 0.3s linear;
			position: relative;

			img {
				width: 100%;
				height: auto;
			}
		}

		.entry-header {
			h4 {
				a {
					color: lighten($black, 20%);

					&:hover {
						color: $black !important;
						text-decoration: none;
					}
				}
			}
		}

		.entry-content {
			display: none;
			font-size: 0.8em;
			line-height: 1.2em;

			p {
				margin-bottom: 0;
			}
		}
	}

	&.journalist,
	&.sponsor {
		height: 270px;

		&.block_click {
			cursor: pointer;
		}

		.inner {
			border-radius: 2px;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			position: relative;

			.inner_inner {
				transition: all 0.4s;
				position: absolute;
				padding-bottom: 4px;
				width: 100%;
				min-height: 10%;

				h3 {
					font-size: 1.2em;
					line-height: 1.1em;
				}

				h4 {
					font-size: 0.8em;
					margin-top: 0;
				}

				.entry-content {
					display: block;
					height: 0;
					opacity: 0;
					transition: all 0.4s;
				}
			}
		}


		&.sponsor {
			.inner {
				background-color: #ddd;
				overflow: hidden;

				.inner_inner {
					padding-top: 0;
					bottom: 0;

					.sponsor_listing_img {
						width: 55%;
						margin: 5px auto 20px;
						display: block;
						transition: width 0.4s;
					}
				}
			}
		}

		&.journalist {
			.inner_inner {
				padding-top: 5%;
				bottom: 0;
			}
		}

		&.hovered {
			.inner {
				.inner_inner {
					min-height: 100%;

					.sponsor_listing_img {
						width: 30%;
					}

					.entry-content {
						height: 50px;
						opacity: 1;
					}
				}
			}

			&.sponsor {
				.inner {
					background-color: #cdcdcd;
				}
			}

			&.journalist {
				.inner_inner {
					background-color: rgba(0,0,0,0.4);
				}
			}
		}
	}

	&.exchange {
		height: 246px;

		.inner {
			background-color: $black;
			.img_mask {
				height: 78%;
			}

			.heading_box {
				h5 {
					font-size: 1.15em;
				}
			}
		}

		&.hovered {
			.inner {
				.entry-content {
					display: block !important;
				}

				.img_mask {
					height: 30%;
				}
			}

			&.profile_wizard {
				.inner {
					.img_mask {
						height: 8%;
					}
				}
			}
		}

		p {
			cursor: pointer;
		}
	}

	&.post {
		height: 316px;
		cursor: pointer;

		.inner {
			background-color: $grey_light;
			position: relative;

			h4.entry-title {
				line-height: 1.25em;
			}

			.entry-content {
				font-size: 0.85em;
				line-height: 1.35em;
			}

			footer.entry-footer {
				background-color: $grey_light;
				width: 100%;
				position: absolute;
		    bottom: -12px;
			}
		}

		&.sponsored_article {
			.inner {
				background-color: $gold_light;

				.entry-footer {
					background-color: $gold_light !important;
				}
			}
		}

		.img_mask {
			height: 55%;
		}

		&.hovered {
			.img_mask {
				height: 40%;
			}

			.entry-content {
				display: block !important;
			}
		}
	}
}

footer.entry-footer {
	// padding: 10px 3.5% 15px;
	color: $grey_dark;

	a {
		color: $grey_dark;
	}

	.entry-date {
		margin-left: 20px;
	}
}

.author_link {
	font-size: 0.7em;
	font-weight: 600;
	color: $grey;
	position: relative;
	top: 9px;


	a {
		color: $grey;

		span {
			text-decoration: underline;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	a#article_author_thumbnail {
		width: 35px;
		position: relative;
    top: -11px;

		img {
			width: 100%;
			border-radius: 30px;
		}
	}
}

#member_callout {
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	color: #fff;
	background-color: #000;
	background-image: linear-gradient(#323232, #000000);

	.container {
		padding: 2.9em 0;
		background-image: url(capital-a-bg.png);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 8em;

		h2 {
			font-size: 2.6em;
			background: none;
			color: #fff;
			text-align: center;
		}

		p {
			color: #fff;
			max-width: 60%;
			margin: 1.7em auto 2em;
			display: block;
			font-size: 0.9em;
		}
	}
}

#home_journalist_spotlight {
	background-color: $grey_light;
	padding-top: 80px;
 }

#home_journalist_spotlight,
#feed_journalist_spotlight {
	article {
		img {
			width: 73px;
	    height: 73px;
	    border: 1px solid #000;
		}

		h5 {
			font-size: 1em;
		}

		p {
			font-size: 0.8em;
		}
	}
}

#home_latest_articles,
#most_read_articles,
#trending_articles {
	article.sponsored_article {
		background-color: $gold_light;

		h5 {
			margin-top: 15px;
		}
	}
}

#home_bottom_ad {
	padding-top: 80px;
}

#article_more_on {
	.article-listing {
		.inner, footer {
			background: #fff;
		}
	}
}

a.tag {
	background: $grey_light;
	color: $grey;
	border: 1px solid $grey;
	display: inline-block;
	margin: 0 10px 16px 0;
	padding: 6px 10px 5px;
	border-radius: 1px;
	font-size: 0.85em;
}

.filter_list {
	min-height: 17em;
}

form#filter_list_form {
	width: 45%;
	margin: 10px auto;

	#magnify {
		color: #171717;
    font-size: 1.6em;
    position: relative;
    left: -33px;
    font-weight: normal;
    bottom: -7px;
    z-index: 997;
	}

	input[type=text] {
		border: none;
		border-color:transparent;
    border-bottom: 2px solid #000;
    border-radius: 0;
    font-size: 1.6em;
    color: #000 !important;
    padding-bottom: 2px;
    font-weight: bold;
    outline: none;
		box-shadow:none;

    &:focus {
    	outline: none;
    }

		&::placeholder { /* Most modern browsers support this now. */
		   color:  #111 !important;
		}
	}
}

.twitter_handle,
.facebook_url,
.instagram_username,
.url {
	svg {
		width: 25px !important;
		font-size: 25px;
		margin-right: 6px;
	}

	span {
		font-size: 0.9em;
    position: relative;
    top: -6px;
  }
}

.sponsored {
	background: $gold_dark;
  color: #fff;
  font-size: 0.6em;
  padding: 3px 5px 2px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  right: 0;
  letter-spacing: 1.9px;

  &:hover,
  &:active {
  	color: #ededed !important;
  }

  &.large {
  	font-size: 0.75em;
  	padding: 4px 8px 3px;
	}

  svg {
  	margin-right: 4px;
  	position: relative;
  	top: -1px;
  }
}

@media (min-width: 1200px) {
	.col-xl-5ths {
		flex: 0 0 20%;
		max-width: 20%;
	}
}

input.has_error,
textarea.has_error {
  border-color: $red;
}

.form-check.has_error {
	label {
		color: $red !important;

		a {
			color: darken($red, 35%) !important;
		}
	}
}

.l-height-1 {
	line-height: 1.1em;
}
.l-height-2 {
	line-height: 1.2em;
}
.l-height-3 {
	line-height: 1.4em;
}

.mask {
	position: relative;
	background-color: rgba(69, 69, 69, 0.3);
	height: 100%;
	width: 100%;

	.inner {
		position: absolute;
    bottom: 0px;
	}
}

a.text-case-inherit {
	text-transform: inherit !important;
}

div.new_article {
	display: block;
	position: absolute;
	top: -25px;
	left: 0;

  &:after {
		content: '';
	  border-top: 55px solid $salmon;
	  border-right: 55px solid transparent;
	  display: block;
	}

	span {
		color: #fefefe;
		position: relative;
		top: 28px;
		left: 3px;
		font-size: 0.7em;
		font-family: gabriela;
	  // font-weight: bold;
	}
}

#featured_articles_content_bar {
	.row {
	  .article-listing.post {
	  	height: 250px;

	  	.img_mask {
	      height: 35%;
	     }

	     h4.entry-title {
	     	font-size: 1.1em;
	     	padding-bottom: 3px;
	     }

	     .entry-date {
	     	display: none;
	     }

	     &.hovered {
	     	.img_mask {
	     		height: 0%;
	     	}
	     }
	  }
	}
}

#featured_articles_sidebar {
	.row {
	  .article-listing.post {
	  	h4.entry-title {
	  		font-size: 1.25em;
	  	}

	  	.img_mask {
	      height: 47%;
	     }

	     &.hovered {
	     	.img_mask {
	     		height: 25%;
	     	}
	     }
	  }
	}
}

.dropdown-menu {
	&#my_profile_menu {
		width: 300px;
		left: -220px;

		.dropdown-header {
			line-height: 1.4em;
			white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;

			img {
				width: 62px;
				height: 62px;
			}

			a {
				color: inherit;

				span {
					display: block;

					&.display_name {
						font-size: 1.15em;
						font-weight: bold;
					}

					&.username {
						opacity: 0.7;
						font-size: 0.85em;
					}
				}
			}
		}
	}

	&#notifications_menu {
		width: 400px;
		max-height: 580px;
		overflow: auto;
		left: -330px;

		.dropdown-item {
			padding-top: 0.7em;
			padding-bottom: 0.5em;
			white-space: normal;
			font-size: 0.75em;

			p {
				margin: 0;
			}
		}
	}
}

.form_field_error {
	color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
}

.field_with_errors {
	@extend .form_field_error;

	input {
		border-color: #721c24;
	}

	& + em {
		@extend .form_field_error;
		display: inline-block;
		width: 100%;
		padding: 0 10px;
	}

	& + br,
	& + em + br {
		display: none;
	}
}

.ajax_loading {
	display: block;
	text-align: left;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 1.7em;
  padding: 50px 0 50px 45px;
  margin: 30px auto;
  background: asset_url('ajax-loader.gif') no-repeat left center;
}

select.short {
	width: 150px;
}

button.follow {
	color: #fff;
	font-size: 0.9em;
	border: 2px solid #fff;
	text-align: left;
	padding: 11px 15px 9px 12px !important;
	font-weight: 500;
	line-height: 1.5em;

	&:hover {
		color: #ededed;
	}


	&:active,
	&:focus {
		border: 2px solid #ffffff !important;
		text-decoration: none !important;
	}

	&.in_header {
		margin-top: 60px;
	}

	svg {
		margin-right: 6px;
		font-size: 1.2em;
		position: relative;
		top: 1px;
	}
}

#top_bar {
	button {
		position: relative;
		left: -10px;
	}

	ul.nav {
		border-bottom: none !important;

		li {
			a {
				background-color: transparent;
				border: none;
				color: inherit !important;
				font-weight: normal;

				&.with_badge {
					height: 63px;
				}

				label {
					text-align: center;
					font-weight: bold;
					display: block;
					margin-bottom: -4px;
					cursor: pointer;
				}

				span {
					text-align: center;
					width: 100%;
					display: inline-block;
				}

				&.active {
					color: inherit !important;
					font-weight: bold;
					border-bottom: 3px solid $green;
				}
			}
		}
	}
}