.cover_photo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
	background-color: #aeaeae;
}

.show-profile {
	min-height: 60vh;

	#cover_photo {
		height: 228px;
		line-height: 13em;
		color: #fff;

		&.editable {
			cursor: pointer;
			background-color: $green;
		}

		a {
			color: #fff;
			font-size: 52px;
			width: fit-content;
			width: -moz-fit-content;
			display: block;
			margin: 0 auto;

			&:hover,
			&:active {
				color: #fff !important;
			}
		}
	}

	#basic_info {
		img {
			width: 7.5em;
			height: 7.5em;
	    border: 4px solid #fff;
	    background-color: #fff;
	    position: relative;
	    top: -6em;
	    left: 1em;
      margin-bottom: -5em;

      &.editable {
      	cursor: pointer;
      }
		}

		a {
			color: inherit;
		}
	}
}


#editProfileFormModal {
	.buttons {
		button {
			width: 40%;
		}
	}
}

#editprofilePhotoModal {
	form .inner {
		height: 350px;
	}
}

#editcoverPhotoModal {
	.modal-dialog {
		max-width: 660px;

		form .inner {
			height: 190px;
		}
	}
}

#editprofilePhotoModal,
#editcoverPhotoModal {
	.modal-header {
		button {
			line-height: 1em;
			padding-right: 6px !important;

			&:hover,
			&:active {
				color: inherit;
			}
		}
	}

	.modal-content {

		form .inner {
			input.replace_file_input {
			  position: absolute;
			  left: -9999px;
			}

			.editing_photo_holder {
				width: 70%;
				margin: 20px auto;
			}
		}
	}
}

#feed {
	.tab-content > .active {
    display: flex;
  }
}

.modal.all_user_exchanges {
	.modal-body {
		font-size: 0.9em;

		img {
			width: 100px !important;
		}

		.follow_btn {
			font-size: 0.8em;
		}
	}
}

#mini_profile_inner {
	display: none;
	font-size: 0.7em;

	h6 {
		font-size: 1em;
	}

	img {
		width: 4em;
		height: 4em;
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
	}
}

body.fixed-profile-nav {
	header#main_header,
	#ads_top,
	#basic_info {
		display: none;
	}

	#top_bar {
		z-index: 100;
		position: fixed;
    top: 0;
    width: 100%;
    left: auto;
    padding-left: 0;
    padding-right: 0;
	}

	#main_feed {
		margin-top: 11em;
	}

	#mini_profile {
		padding-right: 0;
	}

	#mini_profile_inner {
		display: flex;
	}
}