.show-profile {
	min-height: 60vh;

	#cover_photo {
		background-color: $green;
		height: 18%;
		height: 18vh;
		line-height: 8em;
		color: #fff;

		a {
			color: #fff;
			font-size: 35px;
			width: fit-content;
			display: block;
			margin: 0 auto;

			&:hover,
			&:active {
				color: #fff !important;
			}
		}
	}

	#basic_info {
		img {
			width: 9em;
			height: 9em;
	    border: 4px solid #fff;
	    position: relative;
	    top: -6.5em;
	    left: 1em;
      margin-bottom: -5em;

      &.editable {
      	cursor: pointer;
      }
		}

		a {
			color: inherit;
		}
	}

	#top_bar {
		button {
			position: relative;
			left: -10px;
		}

		ul.nav {
			border-bottom: none !important;

			li {
				a {
					background-color: transparent;
					border: none;
					color: inherit !important;
					font-weight: normal;
					height: 63px;

					label {
						text-align: center;
						font-weight: bold;
						display: block;
						margin-bottom: -4px;
					}

					span {
						text-align: center;
						width: 100%;
						display: inline-block;
					}

					&.active {
						color: inherit !important;
						font-weight: bold;
						border-bottom: 3px solid $green;
					}
				}
			}
		}
	}

	#callouts {
		.callout {
			min-height: 300px;
		}
	}
}