.cover_photo {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	overflow: hidden;
	background-color: #aeaeae;
}

.show-profile {
	min-height: 60vh;

	#left_col {
		padding-right: 0;
	}

	#left_col,
	#callouts {
		.card {
			.card-header {
				background: #fff;

				h5 {
					margin-bottom: 0;
					text-align: center;
					color: $grey_dark;
					font-weight: bold;
				}
			}
		}
	}

	#feed {
		padding-left: 0;

		#activity-tabs {
	    padding-bottom: 210px;
		}

		.tab-content > .active {
	    display: flex;
	  }
	}

	#cover_photo {
		height: 191px;
		line-height: 13em;
		color: #fff;

		&.editable {
			cursor: pointer;
			// background-color: $green;
		}

		a {
			color: #fff;
			font-size: 52px;
			width: fit-content;
			width: -moz-fit-content;
			display: block;
			margin: 0 auto;

			&:hover,
			&:active {
				color: #fff !important;
			}
		}
	}

	#basic_info {
		img.rounded-circle {
			width: 7.5em;
			height: 7.5em;
	    border: 3px solid #fff;
	    background-color: #fff;
	    position: relative;
	    top: -6em;
	    left: 1em;
      margin-bottom: -5em;

      &.editable {
      	cursor: pointer;
      }
		}

		#basic_info_bio,
		#basic_info_location {
			a {
				color: inherit;
			}
		}

		#user_author_info {
			img {
				width: 25px;
				height: 25px;
			}
		}
	}
}


#editProfileFormModal {
	.buttons {
		button {
			width: 40%;
		}
	}
}

#editprofilePhotoModal {
	form .inner {
		height: 350px;
	}
}

#editcoverPhotoModal {
	.modal-dialog {
		max-width: 660px;

		form .inner {
			height: 190px;
		}
	}
}

#editprofilePhotoModal,
#editcoverPhotoModal {
	.modal-header {
		button {
			line-height: 1em;
			padding-right: 6px !important;

			&:hover,
			&:active {
				color: inherit;
			}
		}
	}

	.modal-content {

		form .inner {
			input.replace_file_input {
			  position: absolute;
			  left: -9999px;
			}

			.editing_photo_holder {
				max-width: 100%;
			}
		}
	}
}

.modal.all_user_exchanges {
	.modal-body {
		font-size: 0.9em;

		img {
			width: 100px !important;
		}

		.follow_btn {
			font-size: 0.8em;
		}
	}
}

#mini_profile_inner {
	display: none;
	font-size: 0.7em;

	h6 {
		font-size: 1em;
	}

	img {
		width: 4em;
		height: 4em;
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
	}
}

body.fixed-profile-nav {
	header#main_header,
	#ads_top,
	#basic_info {
		display: none;
	}

	#top_bar {
		z-index: 100;
		position: fixed;
    top: 0;
    width: 100%;
    left: auto;
    padding-left: 0;
    padding-right: 0;
	}

	&.fixed-header {
		header#main_header {
			display: block;
		}

		#top_bar {
			top: 112px;
		}
	}

	#main_feed {
		margin-top: 20em;
	}

	#mini_profile {
		padding-right: 0;
	}

	#mini_profile_inner {
		display: flex;
	}
}


.nav-pills.follow_filters {
	margin-left: 0px;

	.nav-link {
		cursor: pointer;

		label {
			font-weight: normal;
			cursor: pointer;
			color: $green;
			margin-bottom: 0;
		}

		&.active {
			background-color: transparent;
			label {
				font-weight: bold;
			}
		}
	}
}