#profileWizardModal {
	.modal-dialog {
		height: 92%;
		height: 92vh;

		.modal-content {
			height: 100%;

			.modal-body {
				overflow: auto;

				header {
					#logo {
						background-size: 66%;
					}
				}
			}
		}
	}

	.float-bottom {
		position: fixed;
		bottom: 1px;
		left: 1%;
		width: 98%;
		border-radius: 4px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		z-index: 200;
	}

	article.article-listing.exchange.profile_wizard {
		cursor: pointer;
		height: 175px;

		.img_mask {
			i {
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 21px;
				z-index: 100;
				padding: 3px;
				background: #fff;
				border-radius: 2px;
				width: 28px;
				height: 28px;
				text-align: center;
			}
		}

		h6 {
			font-size: 0.8rem;
		}

		p {
			font-size: 0.7rem;
		}

		&.deselected {
			.inner {
				background-color: #750028;

				.img_mask {
					position: relative;

					img {
						opacity: 0.8;
					}
				}

				.heading_box {
					background-color: #750028;
				}
			}
		}
	}
}