#profileWizardModal {

	label.alert-danger {
		color: #721c24;
	}

	label.alert-success {
		color: #155724;
	}

	.alert-no-bg {
		background: transparent !important;
	}

	.modal-dialog {
		height: 92%;
		height: 92vh;

		.modal-content {
			height: 100%;

			.modal-body {
				overflow: auto;
			}
		}
	}

	.float-bottom {
		position: fixed;
		bottom: 1px;
		left: 1%;
		width: 98%;
		border-radius: 4px;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	article.article-listing.exchange.profile_wizard {
		cursor: pointer;
		height: 175px;

		&.hovered {
			.inner {
				.img_mask {
					height: 2%
				}
			}
		}

		h6 {
			font-size: 0.8rem;
		}

		p {
			font-size: 0.7rem;
		}

		&.selected {
			.inner {
				background-color: #72b678;

				img {
					opacity: 0.4;
				}

				.heading_box {
					background-color: #72b678;
				}
			}
		}
	}

	.autocompleter {
		ul {
			padding: 0;
			border-bottom: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			box-shadow: 1px 1px 2px #ccc;
			background: #fff;

			li {
				list-style: none;
				line-height: 2.2em;

				a {
					padding: 10px 0 6px 14px;
					display: block;
					color: inherit;

					svg {
						font-size: 20px;
						position: relative;
						top: 2px;
					}

					p {
						line-height: 1.3em;

						span {
							display: block;
						}

						small {
							display: block;
						}
					}

					&:hover {
						background: #eee;
					}
				}
			}
		}
	}
}