#profileWizardModal {
	.modal-dialog {
		height: 92%;
		height: 92vh;

		.modal-content {
			height: 100%;

			.modal-body {
				overflow: auto;
			}
		}
	}

	.float-bottom {
		position: fixed;
		bottom: 1px;
		left: 1%;
		width: 98%;
		border-radius: 4px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		z-index: 200;
	}

	article.article-listing.exchange.profile_wizard {
		cursor: pointer;
		height: 175px;

		h6 {
			font-size: 0.8rem;
		}

		p {
			font-size: 0.7rem;
		}

		&.selected {
			.inner {
				background-color: #72b678;

				img {
					opacity: 0.4;
				}

				.heading_box {
					background-color: #72b678;
				}
			}
		}
	}
}