$track-color: #eceff1;
$thumb-color: #607d8b;

$thumb-radius: 5px;
$thumb-height: 24px;
$thumb-width: 24px;
$thumb-shadow-size: 4px;
$thumb-shadow-blur: 4px;
$thumb-shadow-color: rgba(0, 0, 0, .2);
$thumb-border-width: 2px;
$thumb-border-color: #eceff1;

$track-width: 100%;
$track-height: 8px;
$track-shadow-size: 1px;
$track-shadow-blur: 1px;
$track-shadow-color: rgba(0, 0, 0, .2);
$track-border-width: 2px;
$track-border-color: #cfd8dc;

$track-radius: 5px;
$contrast: 5%;

#sharingPanelModal {
	.modal-body {
		h2.bullet {
			font-size: 1.85em;
			margin-top: 24px;
		}

		#comments_box {
			margin-bottom: 15px;

			div {
				border: none !important;
			}

			// textarea {
			// 	border: none;
			// 	width: 100%;
			// 	padding: 10px;
			// 	height: 3.5em;
			// 	background: $grey_light;
			// 	outline: none;

			// 	&.expanded {
			// 		height: 9em;
			// 	}
			// }

			div.mce-edit-area {
				background: $grey_light;
			}
		}
	}

	#add_rating_heading {
		font-size: 1.8em;
	}

	#ratings_box {
		margin: 10px 0 15px;
		padding: 20px 20px 5px;

		#share_on_twitter_item,
		#share_on_facebook_item {
			input[type=checkbox] {
				// width: 22px;
				height: 22px;
				margin-right: 5px;
			}

			i, svg {
				margin: 1px 7px 0px 0;
				height: 22px;
				width: 16px;
				position: relative;
				left: -4px;
				top: -1px;
			}

			span {
				font-weight: normal;
			}
		}
	}

	.button_box {
		button {
			padding-left: 4em !important;
			padding-right: 4em !important;
		}
	}
}

.member_ratings {
	margin: 15px 0 22px;
	width: 100%;
	color: #000;
	background: $grey_light;

	h5 {
		font-size: 1.1em;
	}

	ul {
		padding: 0;
		margin: 0;

		li {
			font-weight: normal;
			list-style: none;
			margin-right: 18px;
			font-size: 1em;

			span.rating {
				background: $green_dark;
				border-radius: 2px;
				font-size: 0.9em;
				color: #fff;
				padding: 1px 5px;
				font-weight: normal;
				display: inline-block;
				margin-left: 15px;

				&.faded {
					opacity: 0.5;
				}
			}
		}

		&.bars {
			li {
				padding: 0 0 !important;
				span.bar {
					border: 1px solid $grey;
					background: #fff;
					width: 100%;
					height: 25px;
					padding-left: 0 !important;
					padding-right: 0 !important;

					span.inner {
						height: 100%;
						display: inline-block;
						background: $green;
					}
				}

				span.clear-rating {
					&.faded {
						opacity: 0.5;
					}
				}
			}
		}


		&.dots {
			li {
				.dots {
					margin-right: 5px;

					.dot {
						display: inline-block;
						background: #fff;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						margin-right: 7px;
						border: 1px solid $green;
						padding: 6px;
						position: relative;
						top: -6px;

						.filled {
							width: 18px;
							height: 18px;
							display: inline-block;
							border-radius: 50%;
							background: $green;
						}

						.empty {
							width: 18px;
							height: 18px;
							display: inline-block;
						}

						&.panel {
							cursor: pointer;
						}

						&.feed,
						&.panel {
							width: 26px;
							height: 26px;
							margin-right: 5px;
							padding: 5px;
							top: -1px;

							.filled,
							.empty {
								width: 14px;
								height: 14px;
							}
						}
					}
				}
			}
		}

		h6.feed {
			font-size: 0.9em;
			position: relative;
			top: 5px;
		}
	}

	.your_rating {
		padding-top: 25px;
		margin-top: 32px;
		border-top: 1px dashed $grey;

		label {
			width: 30%;
		}
	}

	&.summary {
		.text {
			font-size: 0.9em;
			position: relative;
			top: 2px;
		}
	}
}

#rte-container {
	width: 800px;
	height: 364px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -182px 0 0 -400px;
}

.rte-autocomplete {
	z-index: 10000;

	img {
		width: 28px;
		height: 28px;
		margin-right: 7px;
		left: -1px;
		position: relative;
	}
}