$track-color: #eceff1;
$thumb-color: #607d8b;

$thumb-radius: 5px;
$thumb-height: 24px;
$thumb-width: 24px;
$thumb-shadow-size: 4px;
$thumb-shadow-blur: 4px;
$thumb-shadow-color: rgba(0, 0, 0, .2);
$thumb-border-width: 2px;
$thumb-border-color: #eceff1;

$track-width: 100%;
$track-height: 8px;
$track-shadow-size: 1px;
$track-shadow-blur: 1px;
$track-shadow-color: rgba(0, 0, 0, .2);
$track-border-width: 2px;
$track-border-color: #cfd8dc;

$track-radius: 5px;
$contrast: 5%;

#sharingPanelModal {
	.modal-body {
		h2.bullet {
			font-size: 1.85em;
			margin-top: 24px;
		}

		#comments_box {
			margin-bottom: 15px;

			textarea {
				border: none;
				background: #e9e9e9;
				width: 100%;
				padding: 10px;
				height: 110px;
			}
		}
	}
}

#ratings_box {
	margin: 10px 0 15px;
	background: #000;
	padding: 20px 30px;

	.rating_section {
		border-bottom: 1px #5b5b5b solid;
		padding: 16px 0 12px;

		&:last-child {
			border-bottom: none;
		}

		label {
			font-size: 1.3em;
			margin-bottom: 12px;
		}

		.range_key {
			margin-top: 18px;
			color: #ccc;
		}

		&#well_written {
			label {
				color: $blue_dark
			}

			input[type=range] {
				&::-webkit-slider-thumb {
					background-color: $blue_dark;
				}
				&::-ms-thumb {
					background-color: $blue_dark;
				}
				&::-moz-range-thumb {
					background-color: $blue_dark;
				}
			}
		}

		&#valid_points {
			label {
				color: $green
			}

			input[type=range] {
				&::-webkit-slider-thumb {
					background-color: $green;
				}
				&::-ms-thumb {
					background-color: $green;
				}
				&::-moz-range-thumb {
					background-color: $green;
				}
			}
		}

		&#agree {
			label {
				color: $salmon
			}

			input[type=range] {
				&::-webkit-slider-thumb {
					background-color: $salmon;
				}
				&::-ms-thumb {
					background-color: $salmon;
				}
				&::-moz-range-thumb {
					background-color: $salmon;
				}
			}
		}
	}
}