<section ng-controller="SuggestionsController">

<!-- 	<div class="header_bar_overlay d-flex justify-content-between">
		<div>
			<h3 ng-if="panelTab == 'forYous'" class="mb-0 mt-0">
				Suggested people to follow
			</h3>
			<h3 ng-if="panelTab == 'followers'" class="mb-0 mt-0">
				Popular people
			</h3>
		</div>
		<a href='#' ng-click="closeFollowsPanel()" class="closer mt-1">
			<i class="fas fa-times"></i>
		</a>
	</div> -->

	<nav id="suggestions_options" class="sub_tabs">
		<ul class="nav nav-pills nav-fill d-flex">
			<li class="nav-item w-50">
			  <a class="nav-link active h-100" id="suggestions-sub-tab-for_you" data-toggle="tab" href="#suggestions_for_you">
			    Suggested for you
			  </a>
			</li>
			<li class="nav-item w-50">
			  <a class="nav-link h-100" id="suggestions-sub-tab-popular" data-toggle="tab" href="#suggestions_popular">
			    Popular with people you follow
			  </a>
			</li>
		</ul>
	</nav>

	<div class="tab-content container pt-2 px-1 bg-grey">
		<div class="tab-pane fade show active"
			id="suggestions_for_you"
			role="tabpanel"
			aria-labelledby="suggestions-sub-tab-for_you">
			<p class="py-3 px-3 mb-0" ng-if="forYous.length == 0">There are currently no suggestions of members for you</p>
			<div ng-repeat="item in forYous" class="feed-listing bg-white">
				<%= render 'users/member_card' %>
			</div>
		</div>

		<div class="tab-pane fade"
			id="suggestions_popular"
			role="tabpanel"
			aria-labelledby="suggestions-sub-tab-popular">
			<p class="py-3 px-3 mb-0" ng-if="populars.length == 0">There are currently no suggestions of members who are popular with people you follow</p>
			<div ng-repeat="item in populars" class="feed-listing bg-white">
				<%= render 'users/member_card' %>
			</div>
		</div>
	</div>
</section>