<div class="modal fade" id="donationInterstitialModal" tabindex="-1" role="dialog">
  <div class="modal-dialog medium" role="document">
    <div class="modal-content">
      <div class="modal-body p-0"><%= render partial: 'promotional/donation_interstitial' %></div>
    </div>
  </div>
</div>