<div class="container pt-4 pb-3 pb-md-4 donate_interstitial_box" ng-controller="DonateInterstitialController">
  <a href='#' ng-click="close($event);" id="close_button">
    <i class="fas fa-times"></i>
  </a>

  <h2 class="mt-1">Member Donation Request</h2>

  <p>We hope you are enjoying your free membership of TheArticle. We are still strongly committed to not
    hiding our content behind a paywall but, as is the case for many, economic headwinds mean that these are testing times.</p>

  <p>We have great plans for 2021 and beyond and are asking members, if they can, to make a donation or, even better, a
    monthly contribution to help us weather the storm.</p>


  <form action="https://www.paypal.com/donate" method="post" target="_top" id="paypal_form">
    <input type="hidden" name="hosted_button_id" value="J3HSV8JYPRYCC" />
    <input type="submit" name="submit" value="Donate Now" class="btn btn-lg btn-info" />
    <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
  </form>

  <p><em>To hear more about our plans, please email our CEO Stephen Rand at <a href="mailto:stephen.rand@thearticle.com">stephen.rand@thearticle.com</a></em></p>
</div>