<div class="container py-3 py-md-4 register_interstitial_box" ng-controller="RegisterInterstitialController">
	<h2>Sign up to <br />TheArticle so you can:</h2>

	<ol>
		<li class="register_interstitial_box_feed d-flex justify-content-start align-items-start">
			<i class="fas fa-user-alt"></i>
			<span>Create your own content feed about the things which matter to you</span>
		</li>
		<li class="register_interstitial_box_share d-flex justify-content-start align-items-start">
			<i class="fas fa-share-square"></i><span>Rate, review and share the articles you read</span>
		</li>
		<li class="register_interstitial_box_network d-flex justify-content-start align-items-start">
			<%= image_tag asset_url('nav/exchanges-white.svg') %>
			<span>Build your own social network to chat and discuss</span>
		</li>
	</ol>

	<h3>ALL OF THIS IS FREE, FOR PEOPLE WHO LOVE TO DEBATE, NOT TROLL</h3>

	<button class="register_interstitial_box_register btn" ng-click="register($event)">REGISTER</button>

	<p class="register_interstitial_box_no_thanks">
		<a href='#' ng-click="noThanks($event)">NO THANKS, JUST GIVE ME THE BASIC SITE</a>
	</p>
</div>