header#main_header {
  li.nav-item {
    font-size: 0.85em;
    // margin-right: 0 !important;

    a#nav_link_mission{
      padding-left: 1.2rem !important;
    }
  }

  nav#main_nav_right {
    li.nav-item {
      margin-left: 0;

      a {
        padding: 0;

        &#nav_link_join {
          background-position: left 4px !important;
        }

        &#nav_link_search {
          padding-right: 1.5rem !important;
        }
      }

      a.nav-icon-text {
        top: 2px;
      }

      a.nav-icon {
        &#nav_link_my_profile {
          max-width: 130px;
          padding-left: 0;
          padding-right: 0;
          font-size: 0.8em;

          img {
            width: 22px;
            height: 22px;
            position: relative;
            top: 1px;
          }
        }
      }

      .dropdown-menu#my_profile_menu {
        width: 190px;
        left: -27px;

        a {
          padding-left: 10px;
          font-size: 0.9em;
        }
      }
    }
  }
}

html.svg #logo {
  background-size: 65%;
}

footer.main_footer {
  button.btn.join_button, a.btn.join_button {
    font-size: 0.9em;
  }

  nav#footer_nav {
    .nav-link {
      font-size: 0.67em;
    }
  }
}

.slick-carousel.exchanges {
  .slick-carousel-item {
    .img {
      height: 70%;
    }

    .entry-content {
      height: 50%;
    }
  }
}

.modal-dialog.wide {
  max-width: 720px !important;
  width: 720px !important;
}

.member_ratings {
  label {
    font-size: 0.75em;
    margin-top: 2px;
  }

  ul.dots {
    li {
      margin-right: 0;

      .dots {
        .dot {
          margin-right: 3px !important;
        }
      }
    }
  }

  h6.feed {
    font-size: 0.65em !important;
  }
}