<div class="container mt-4 mt-md-5 slick-carousel-title">
  <h1 class="bullet">Trending articles</h1>
</div>

<%= if @articles_for_carousel.any?
	render partial: 'carousels/articles', locals: { articles: @articles_for_carousel }
end %>

<%= if @articles.any?
	render partial: 'layouts/article-listings', locals: { articles: @articles, title: "Editor's picks" }
end %>

<%= if @trending_exchanges.any?
	render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges }
end %>

<%= render partial: 'layouts/page-bottom', locals: {
		spotlight_heading: 'Contributor spotlight',
		contributors: @contributors_for_spotlight,
		recent_articles: @recent_articles
	} %>