<div id="content-page">
	<article>
		<header class="entry-header">
			<h1 class="">
				<div class="container">
					<%= @page.title.html_safe %>
				</div>
			</h1>
		</header>

		<div class="entry-content container">
			<%= @page.content.html_safe %>
		</div>
	</article>
</div>