<div class="tab-pane fade" id="content-notifications"
				role="tabpanel"
				aria-labelledby="notifications-tab"
				ng-controller="NotificationsController">
		<section ng-controller="NotificationsController" class="container notifications_page" id="feed">
			<div class="row">
				<div class="ajax_loading loading_notifications" ng-if="!notifications.loaded">Loading notifications...</div>
				<div ng-if="notifications.loaded" class="results_block row notifications"
						ng-class="{'empty': notifications.data.length == 0}">

					<p class="col-12 empty_resource" ng-if="notifications.data.length == 0">
						<span>There are no notifications to see just now</span>
					</p>

					<div ng-repeat="item in notifications.data" class="col-12 notification px-0">
							<%= render 'notifications/card' %>
					</div>
				</div>
			</div>
		</section>
</div>