<div id="content-my-profile"
		class="app_page show-profile"
		ng-controller="ProfileController"
		ng-show="showProfile">

		<div ng-show="profile.loadError" class="container mt-4">
			<div class="alert alert-danger">
				<p>{{profile.loadError}}</p>
			</div>
		</div>
		<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

		<section id="cover_photo" class="justify-content-center" ng-show="profile.loaded && !profile.loadError">
			<a ng-click="addCoverPhoto()" href='#' class="align-middle">
				<i class="fas fa-image"></i>
			</a>
		</section>

		<section class="container d-flex" id="basic_info" ng-show="profile.loaded && !profile.loadError">
			<img src="<%= asset_url('nav/lions.jpeg') %>" class="rounded-circle" alt="<%= current_user.display_name %>" />
			<div class="pl-3">
				<h5>{{ profile.data.displayName }}</h5>
				<h6 class="text-muted">{{ profile.data.username }}</h6>
			</div>
		</section>

		<section class="container d-flex" class="d-flex" id="stats_info" ng-show="profile.loaded && !profile.loadError">
			<div class="stats p-2 flex-fill">
				<label>Ratings</label>
				<span>{{ profile.data.ratings }}</span>
			</div>
			<div class="stats p-2 flex-fill">
				<label>Followers</label>
				<span>{{ profile.data.followers }}</span>
			</div>
			<div class="stats p-2 flex-fill">
				<label>Following</label>
				<span>{{ profile.data.following }}</span>
			</div>
		</section>

		<section class="container" ng-show="profile.loaded && profile.isMe && !profile.loadError">
			<button class="btn btn-outline-success btn-block mt-3 mb-4" ng-click="editProfile()">Edit Profile</button>
		</section>

		<section class="container" id="more_info" ng-show="profile.loaded && !profile.loadError">
			<p>
				<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
			</p>

			<p ng-if="profile.data.location.length > 0">
				<i class="fas fa-map-marker-alt"></i>
				<span class="pl-3">{{ profile.data.location }}</span>
			</p>
			<p ng-if="!profile.data.location || profile.data.location.length == 0">
				<a href='#' ng-click="addLocation()">
					<i class="fas fa-map-marker-alt"></i>
					<span class="pl-3">Add Location</span>
				</a>
			</p>

			<p ng-if="profile.data.bio.length > 0">
				{{ profile.data.bio }}
			</p>
			<p ng-if="!profile.data.bio || profile.data.bio.length == 0">
				<a href='#' ng-click="addBio()">
					<i class="far fa-plus-square"></i>
					<span class="pl-3">Add Bio</span>
				</a>
			</p>
		</section>

		<section class="my-4" id="public_activity" ng-show="profile.loaded && !profile.loadError">
			<ul class="nav nav-tabs nav-fill d-flex">
			  <li class="nav-item">
			    <a class="nav-link active" id="activity-all-tab" data-toggle="tab" href="#activity-all">
			      All
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="activity-ratings-tab" data-toggle="tab" href="#activity-ratings">
			      Ratings
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="activity-shares-tab" data-toggle="tab" href="#activity-shares">
			      Shares
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="activity-exchanges-tab" data-toggle="tab" href="#activity-exchanges">
			      Exchanges
			    </a>
			  </li>
			</ul>

			<div class="tab-content container" id="activity-tabs">
				<div class="tab-pane fade pt-4 show active" id="activity-all" role="tabpanel" aria-labelledby="activity-all-tab">
					<div class="call-to-action-card card" ng-show="profile.data.isNew">
						<div class="card-header">
							Fill out your profile
						</div>
						<div class="card-body">
							<p class="card-text">Add information and photos to your profile to help people find you</p>
						</div>
					</div>
					<div ng-show="!profile.data.isNew">
						All
					</div>
				</div>
				<div class="tab-pane fade pt-4" id="activity-ratings" role="tabpanel" aria-labelledby="activity-ratings-tab">
					Ratings
				</div>
				<div class="tab-pane fade pt-4" id="activity-shares" role="tabpanel" aria-labelledby="activity-shares-tab">
					Shares
				</div>
				<div class="tab-pane fade pt-4" id="activity-exchanges" role="tabpanel" aria-labelledby="activity-exchanges-tab">
					Exchanges
				</div>
			</div>
		</section>
</div>