<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.follower.path}}">
				<img ng-src="{{item.follower.image}}" alt="{{item.follower.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4 class="mb-3">
					<a href="{{item.follower.path}}">
						<b>{{item.follower.displayName}}</b>
						<span class="text-muted">{{item.follower.username}}</span> followed {{item.followed.displayName}}
						&bullet; <span><time>{{item.date}}</time></span>
					</a>
				</h4>
			</div>
		</div>
	</div>
</div>