<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.follower.path}}">
				<img ng-src="{{item.follower.image}}" alt="{{item.follower.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4>
					<a href="{{item.follower.path}}">
						{{item.follower.displayName}}
						<span class="text-muted">{{item.follower.username}}</span> &bullet; <span><time>{{item.date}}</time></span>
					</a>
				</h4>
				<p><b>followed {{item.followed.displayName}}</b></p>
			</div>
		</div>
		<% if user_signed_in? %>
			<div ng-if="item.follower.id != <%= user_signed_in? ? current_user.id : 0 %>">
				<%= render partial: 'common/options_menu', locals: { from: :follow } %>
			</div>
		<% end %>
	</div>
</div>