<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.follower.path}}">
				<img ng-src="{{item.follower.image}}" alt="{{item.follower.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4 class="mb-3">
					<span ng-bind-html="item.sentence" data-followed="{{item.followed.id}}"></span>
					&bullet; <time ng-if="item.feedDate">{{item.feedDate}}</time><time ng-if="!item.feedDate">{{item.date}}</time>
				</h4>
			</div>
		</div>

		<div>
			<%= render partial: 'common/options_menu', locals: { from: :follow } %>
		</div>
	</div>
</div>