<div class="modal fade no_connection mobile_full" id="followsListModal" tabindex="-1" role="dialog">
  <div class="modal-dialog scrollable medium" role="document">
    <div class="modal-content">

    	<div class="modal-header">
    		<h5 class="pt-2">Recent followers</h5>

        <button data-dismiss="modal" class="btn btn-link close_modal">
          <i class="fas fa-times"></i>
        </button>
    	</div>

      <div class="modal-body" id="requires_connection_modal">
        <div ng-repeat="item in followers" class="feed-listing">
          <%= render 'users/member_card' %>
        </div>
      </div>
    </div>
  </div>
</div>
