<div class="modal fade no_connection question_modal mobile_full" id="concernReportModal" tabindex="-1" role="dialog">
  <div class="modal-dialog medium" role="document">
    <div class="modal-content" ng-controller="ConcernReportsController">

    	<div class="modal-header">
    		<h5 class="pt-2" ng-if="reason.success != true">
          Report&nbsp;
          <span ng-if="concernReportType == 'profile'"> an account</span>
          <span ng-if="concernReportType == 'post'"> a post</span>
          <span ng-if="_.contains(['comment', 'commentAction'], concernReportType)"> a comment</span>
        </h5>

        <h5 class="pt-2" ng-if="reason.success == true">
          Concern reported
        </h5>

        <button data-dismiss="modal" class="btn btn-link close_modal" ng-click="resetReason($event)">
          <i class="fas fa-times text-green"></i>
        </button>
    	</div>

      <div class="modal-body pb-3" id="concern_report_modal">
          <!-- Success, thanks -->
          <section ng-if="reason.success == true" class="container my-4 px-4">
            <p class="heading_thanks">Thank you for reporting your concern about
              <span ng-if="concernReportType=='profile'"><b>{{profileForConcernReport.username}}</b></span>
              <span ng-if="concernReportType=='post'"><b>{{profileForConcernReport.username}}'s</b> post</span>
              <span ng-if="_.contains(['comment', 'commentAction'], concernReportType)"><b>{{profileForConcernReport.username}}'s</b> comment</span>
            </p>

            <p ng-if="profileForConcernReport.canShowOptions.unfollow || profileForConcernReport.canShowOptions.mute || profileForConcernReport.canShowOptions.block">You may now wish to take one of the following steps:</p>

            <div class="pt-3 px-md-3 pt-md-3 mt-md-4 mx-md-2 align-items-start action_option row"
                  ng-if="profileForConcernReport.canShowOptions.unfollow">
              <h5 class="col-12">Unfollow <span class="text-muted">{{profileForConcernReport.username}}</span></h5>

              <p class="col-12 col-md-9">Unfollowing <b>{{profileForConcernReport.username}}</b> will stop you receiving notifications about their posts. It also means that they cannot contribute to one of your posts, even if they follow you. <a href="/terms-and-conditions?section=unfollowing">Read more</a> about what it means to unfollow someone.
              </p>
              <button class="col-12 col-md-3 btn btn-sm btn-success" ng-click="unfollow($event, profileForConcernReport.id, profileForConcernReport.username)">Unfollow</button>
            </div>

            <div class="pt-3 px-md-3 pt-md-3 mt-md-4 mx-md-2 align-items-start action_option row"
                    ng-if="profileForConcernReport.canShowOptions.mute">
              <h5 class="col-12">Mute <span class="text-muted">{{profileForConcernReport.username}}</span></h5>

              <p class="col-12 col-md-9">Muting <b>{{profileForConcernReport.username}}</b> will stop you receiving notifications about their posts. <a href="/terms-and-conditions?section=muting">Read more</a> about what it means to mute someone.
              </p>
              <button class="col-12 col-md-3 btn btn-sm btn-danger" ng-click="mute($event, profileForConcernReport.id, profileForConcernReport.username)">Mute</button>
            </div>

            <div class="pt-3 px-md-3 pt-md-3 mt-md-4 mx-md-2 align-items-start action_option row"
                  ng-if="profileForConcernReport.canShowOptions.block">
              <h5 class="col-12">Block <span class="text-muted">{{profileForConcernReport.username}}</span></h5>

              <p class="col-12 col-md-9">Blocking <b>{{profileForConcernReport.username}}</b> will mean that they cannot follow you, view your posts or send you a direct message. It also means that you cannot follow them, view their posts or send them a direct message. <a href="/terms-and-conditions?section=blocking">Read more</a> about what it means to block someone.
              </p>
              <button class="col-12 col-md-3 btn btn-sm btn-danger" ng-click="block($event, profileForConcernReport.id, profileForConcernReport.username)">Block</button>
            </div>
          </section>


          <!-- PROFILES -->
          <section ng-if="concernReportType == 'profile'">
            <div class="options primary_reason" ng-if="!reason.primarySubmitted && !reason.success">
              <p class="heading_question">
                Help us understand the problem. Why are you reporting <b>{{profileForConcernReport.username}}</b>?
              </p>

              <div class="container">
                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="not_interested_account" />
                    <span class="checkmark"></span>
                    <span class="text">I'm not interested in this account</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="dont_agree_views" />
                    <span class="checkmark"></span>
                    <span class="text">I do not agree with this user's views</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="suspicious_or_spam_account" />
                    <span class="checkmark"></span>
                    <span class="text">It's suspicious or spam</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="pretending" />
                    <span class="checkmark"></span>
                    <span class="text">They're pretending to be me or someone else</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="offensive" />
                    <span class="checkmark"></span>
                    <span class="text">Their posts are offensive or abusive</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="hacked" />
                    <span class="checkmark"></span>
                    <span class="text">It appears their account is hacked</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='hacked'"></textarea>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="offensive_content" />
                    <span class="checkmark"></span>
                    <span class="text">Their profile info includes offensive or abusive content</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='offensive_content'"></textarea>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="offensive_photo" />
                    <span class="checkmark"></span>
                    <span class="text">Their profile photos include offensive or abusive content</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='offensive_photo'"></textarea>

                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="something_else_account" />
                    <span class="checkmark"></span>
                    <span class="text">I want to report something else</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='something_else_account'"></textarea>
                  </label>
                </div>

                <p class="mb-0 mt-2 mx-2"><a class="text-green" href="/help?section=concern_reports">Read more</a> about the reporting process and what is considered a violation of our rules.</p>

                <div class="buttons">
                  <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                  <button class="btn btn-block btn-success mt-4" ng-click="submitProfilePrimary($event)"
                          ng-class="{'disabled': reason.primary.length == 0}">Submit</button>
                </div>
              </div>
            </div>

            <div class="secondary_reason" ng-if="reason.primarySubmitted && (reason.primary.length > 0) && (reason.success != true)">
              <!-- Suspicious or spam -->
              <div ng-if="reason.primary=='suspicious_or_spam_account'">
                <div class="options">
                  <p class="heading_question">How is {{profileForConcernReport.username}} acting suspiciously or generating spam?</p>

                  <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="fake_account" />
                        <span class="checkmark"></span>
                        <span class="text">It's a fake account</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harmful_site_link" />
                        <span class="checkmark"></span>
                        <span class="text">It's sharing links to potentially harmful, malicious or phishing sites</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="posting_spam" />
                        <span class="checkmark"></span>
                        <span class="text">It's posting spam</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="suspicious_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pretending -->
              <div ng-if="reason.primary=='pretending'">
                <div class="options">
                  <p class="heading_question">Who is <b>{{profileForConcernReport.username}}</b> impersonating?</p>

                  <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="me" />
                        <span class="checkmark"></span>
                        <span class="text">Me</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="someone_represent" />
                        <span class="checkmark"></span>
                        <span class="text">Someone I represent</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="pretending_someone_else" />
                        <span class="checkmark"></span>
                        <span class="text">Someone else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Offensive -->
              <div ng-if="reason.primary=='offensive'">
                <div class="options">
                  <p class="heading_question">How are <b>{{profileForConcernReport.username}}'s</b> posts offensive or abusive?</p>

                  <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="disrespectful" />
                        <span class="checkmark"></span>
                        <span class="text">They are disrespectful or offensive</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harassment_or_threats" />
                        <span class="checkmark"></span>
                        <span class="text">They include targeted harassment or threats</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="category_hate" />
                        <span class="checkmark"></span>
                        <span class="text">They direct hate against a protected category (e.g. race, religion, gender, orientation, disability)</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="threat_of_violence" />
                        <span class="checkmark"></span>
                        <span class="text">They threaten violence or physical harm</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="offensive_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container mt-2" ng-if="reason.secondary.length > 0">
                <textarea placeholder="Can you tell us anything else to help us understand your concern? (optional)"
                        class="form-control"
                        name="moreInfo"
                        ng-model="reason.moreInfo"></textarea></div>

              <div class="container buttons mt-3">
                <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-success w-40" ng-click="cancelSecondary($event)">Back</button>
                  <button class="btn btn-success w-40" ng-click="submitProfileSecondary($event)"
                          ng-class="{'disabled': reason.secondary.length==0}">Submit</button>
                </div>
              </div>
            </div>

          </section>



          <!-- POSTS -->
          <section ng-if="concernReportType == 'post'">
            <div class="options primary_reason" ng-if="!reason.primarySubmitted && !reason.success">
              <p class="heading_question">
                Help us understand the problem. Why are you reporting <b>{{profileForConcernReport.username}}'s</b> post?
              </p>

              <div class="container">
                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="not_interested_post" />
                    <span class="checkmark"></span>
                    <span class="text">I'm not interested in this post</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="dont_agree_post" />
                    <span class="checkmark"></span>
                    <span class="text">I do not agree with this post</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="suspicious_or_spam_post" />
                    <span class="checkmark"></span>
                    <span class="text">It's suspicious or spam</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="abusive" />
                    <span class="checkmark"></span>
                    <span class="text">It's abusive or harmful</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="something_else_post" />
                    <span class="checkmark"></span>
                    <span class="text">I want to report something else</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='something_else_post'"></textarea>

                  </label>
                </div>

                <div class="buttons">
                  <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                  <button class="btn btn-block btn-success" ng-click="submitPostPrimary($event)"
                          ng-class="{'disabled': reason.primary.length == 0}">Submit</button>
                </div>
              </div>
            </div>

            <div class="secondary_reason" ng-if="reason.primarySubmitted && (reason.primary.length > 0) && (reason.success != true)">

              <!-- Suspicious or spam -->
              <div ng-if="reason.primary=='suspicious_or_spam_post'">
                <div class="options">
                  <p class="heading_question">How is <b>{{profileForConcernReport.username}}'s</b> post suspicious or generating spam?</p>

                   <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="fake_account" />
                        <span class="checkmark"></span>
                        <span class="text">It's from a fake account</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harmful_site_link" />
                        <span class="checkmark"></span>
                        <span class="text">It's sharing links to potentially harmful, malicious or phishing sites</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="posting_spam" />
                        <span class="checkmark"></span>
                        <span class="text">It's posting spam</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="suspicious_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Abusive -->
              <div ng-if="reason.primary=='abusive'">
                <div class="options">

                  <p class="heading_question">How is <b>{{profileForConcernReport.username}}'s</b> post offensive or abusive?</p>

                   <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="disrespectful" />
                        <span class="checkmark"></span>
                        <span class="text">It's disrespectful or offensive</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harassment_or_threats" />
                        <span class="checkmark"></span>
                        <span class="text">It includes targeted harassment or threats</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="category_hate" />
                        <span class="checkmark"></span>
                        <span class="text">It directs hate against a protected category (e.g. race, religion, gender, orientation, disability)</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="threat_of_violence" />
                        <span class="checkmark"></span>
                        <span class="text">It threatens violence or physical harm</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="offensive_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container mt-2" ng-if="reason.secondary.length > 0">
                <textarea placeholder="Can you tell us anything else to help us understand your concern? (optional)"
                        class="form-control"
                        name="moreInfo"
                        ng-model="reason.moreInfo"></textarea></div>


              <div class="container buttons mt-3">
                <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-success w-40" ng-click="cancelSecondary($event)">Back</button>
                  <button class="btn btn-success w-40" ng-click="submitPostSecondary($event)"
                          ng-class="{'disabled': reason.secondary.length==0}">Submit</button>
                </div>
              </div>
            </div>
          </section>



          <!-- COMMENTS -->
          <section ng-if="_.contains(['comment', 'commentAction'], concernReportType)">
            <div class="options primary_reason" ng-if="!reason.primarySubmitted && !reason.success">
              <p class="heading_question">
                Help us understand the problem. Why are you reporting <b>{{profileForConcernReport.username}}'s</b> comment?
              </p>

              <div class="container">
                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="suspicious_or_spam_comment" />
                    <span class="checkmark"></span>
                    <span class="text">It's suspicious or spam</span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="abusive_comment" />
                    <span class="checkmark"></span>
                    <span class="text">It's abusive or harmful </span>
                  </label>
                </div>

                <div class="form-group">
                  <label class="option">
                    <input type="radio" name="reason_primary" ng-model="reason.primary" value="something_else_comments" />
                    <span class="checkmark"></span>
                    <span class="text">I want to report something else</span>

                    <textarea class="form-control"
                      name="moreInfo"
                      placeholder="Can you tell us anything else to help us understand your concern?"
                      ng-model="reason.moreInfo"
                      ng-if="reason.primary=='something_else_comments'"></textarea>
                  </label>
                </div>

                <div class="buttons">
                  <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                  <button class="btn btn-block btn-success" ng-click="submitCommentPrimary($event)"
                          ng-class="{'disabled': reason.primary.length == 0}">Submit</button>
                </div>
              </div>
            </div>

            <div class="secondary_reason" ng-if="reason.primarySubmitted && (reason.primary.length > 0) && (reason.success != true)">

              <!-- Suspicious or spam -->
              <div ng-if="reason.primary=='suspicious_or_spam_comment'">
                <div class="options">
                  <p class="heading_question">How is <b>{{profileForConcernReport.username}}'s</b> comment suspicious or generating spam?</p>

                  <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="fake_account" />
                        <span class="checkmark"></span>
                        <span class="text">It's from a fake account</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harmful_site_link" />
                        <span class="checkmark"></span>
                        <span class="text">It's sharing links to potentially harmful, malicious or phishing sites</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="posting_spam" />
                        <span class="checkmark"></span>
                        <span class="text">It's posting spam</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="suspicious_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Abusive -->
              <div ng-if="reason.primary=='abusive_comment'">
                <div class="options">
                  <p class="heading_question">How is <b>{{profileForConcernReport.username}}'s</b> comment offensive or abusive?</p>

                  <div class="container">
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="disrespectful" />
                        <span class="checkmark"></span>
                        <span class="text">It's disrespectful or offensive</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="harassment_or_threats" />
                        <span class="checkmark"></span>
                        <span class="text">It includes targeted harassment or threats</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="category_hate" />
                        <span class="checkmark"></span>
                        <span class="text">It directs hate against a protected category (e.g. race, religion, gender, orientation, disability)</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="threat_of_violence" />
                        <span class="checkmark"></span>
                        <span class="text">It threatens violence or physical harm</span>
                      </label>
                    </div>
                    <div class="form-group">
                      <label class="option">
                        <input type="radio" name="reason_secondary" ng-model="reason.secondary" value="offensive_something_else" />
                        <span class="checkmark"></span>
                        <span class="text">It's something else</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container mt-2" ng-if="reason.secondary.length > 0">
                <textarea placeholder="Can you tell us anything else to help us understand your concern? (optional)"
                        class="form-control"
                        name="moreInfo"
                        ng-model="reason.moreInfo"></textarea></div>

              <div class="container buttons mt-3">
                <p class="alert alert-danger mb-3" ng-if="reason.error.length && !reason.success">{{reason.error}}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-success w-40" ng-click="cancelSecondary($event)">Back</button>
                  <button class="btn btn-success w-40" ng-click="submitCommentSecondary($event)"
                          ng-class="{'disabled': reason.secondary.length==0}">Submit</button>
                </div>
              </div>
            </div>
          </section>


        </div>
      </div>
    </div>
  </div>
</div>
