$black: #020202;
$grey_light: #f8f7f7;
$grey_dark: #565656;
$grey: #999;

$green: #88d68f;
$green_light: #b6ffbc;
$green_dark: #72b678;

$blue_dark: #4a90e2;
$red: #dc3545;
$salmon: #ff6263;

$gold_light: #f9f4d7;
$gold_dark: #e39e00;
