@import "_variables";
@import "bootstrap";
@import "colours";
@import "angular1-confirm/css/angular-confirm";

.search__eyeglass-icon,
.search__clear-link {
	top: 58%;
}

.search {
	position: relative;
  top: -3px;

  label {
		display: block;
	}
}

.btn {
	font-weight: 800;
}

dd.attribute-data--image-field {
	img {
		width: 380px;
	}
}

td img {
	max-height: unset !important;
}


#admin_sidenav {
	flex: 1 0 13rem;

	#logo {
		margin-bottom: 20px;
		background-image: asset_url('logo-2-lines.svg');
		background-size: 85%;
		background-repeat: no-repeat;
		background-position: center center;
		transition: background-size 0.5s;
		position: relative;
		line-height: 4.3em;
		height: 60px;

		a {
			width: inherit;
			height: inherit;
			border: none;
			display: block;
			outline: none;
		}

		.text-hide {
			text-indent: -99999px;
			display: inline-block;
		}
	}

	h3 {
		font-size: 1.3em;
	}

	ul {
		padding-left: 15px;
		margin-bottom: 25px;
		margin-top: 7px;

		&.children {
			margin-bottom: 4px;
			margin-top: -3px;

			li {
				font-size: 0.9em;
			}
		}

		li {
			line-height: 1.3em;

			a {
				font-weight: normal;
				text-decoration: none;

				&.navigation__link--active {
					font-weight: bold;
				}
			}
		}
	}
}

.admin_index_header {
	.search {
		max-width: 27rem;
	}
}

.main-content__body {
	.pagination {
		width: 75%;
	  float: left;
	}

	&.concern_reports {
		dt {
			width: calc(30% - 1rem);
		}

		dd {
			width: calc(70% - 1rem);
		}
	}

	#per_page_setter {
		width: 23%;
    float: right;
    padding-top: 15px;
    padding-right: 40px;
    text-align: right;
    overflow: hidden;

    select {
    	width: 60px;
    	float: right;
    }
	}
}

.field-unit--author-select-field {
	select {
		background-color: #fff;
		border: 1px solid #dfe0e1;
		border-radius: 4px;
		padding: 0.5em;
	}
}

.field-unit--text {
	.field-unit__field {
		height: 16em;

		textarea {
			height: 100%;
		}
	}
}