@charset "UTF-8";

header#main_header {
  li.nav-item {
    font-size: 0.85em;
    margin-right: 0 !important;

    a#nav_link_mission{
      padding-left: 1.2rem !important;
    }
  }

  nav#main_nav_right {
    li.nav-item {
      margin-left: 0;

      a {
        padding: 0;
      }

      a.nav-icon#nav_link_my_profile {
        max-width: 130px;
        padding-left: 0;
        padding-right: 0;
        font-size: 0.75em;

        img {
          width: 22px;
          height: 22px;
          position: relative;
          top: 1px;
        }
      }

      .dropdown-menu#my_profile_menu {
        width: 190px;
        left: -27px;

        a {
          padding-left: 10px;
          font-size: 0.9em;
        }
      }
    }
  }
}

html.svg #logo {
  background-size: 65%;
}

footer.main_footer nav#footer_nav .nav-link {
  font-size: 0.67em;
}

.exchange-badge {
  padding: 3px 9px 2px;
  letter-spacing: 1.1px;
  text-align: center;
}

.article-listing {
  &.post {
    height: 360px;

  	.img_mask {
    	height: 37%;
    }

    .entry-content {
      display: block;
    }

    h4 {
    	font-size: 1.2em;
      margin-bottom: 8px;
    }
  }

  &.exchange {
    height: 196px;

    .img_mask {
      height: 70%;
    }
  }
}

.slick-carousel.exchanges {
  .slick-carousel-item {
    .img {
      height: 50%;
    }

    .entry-content {
      height: 50%;
    }
  }
}

/* Portrait only tablet (col-md) */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 768px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

  .w-md-20 {
    width: 20%;
  }
  .w-md-10 {
    width: 10%;
  }
  .w-md-30 {
    width: 30%;
  }
  .w-md-40 {
    width: 40%;
  }
  .w-md-60 {
    width: 60%;
  }
  .w-md-70 {
    width: 70%;
  }
  .w-md-80 {
    width: 80%;
  }
  .w-md-90 {
    width: 90%;
  }

  .card-body {
    padding: 0.7rem;
  }

  header#main_header {
    nav#main_nav_right {
      li.nav-item {
        a.nav-icon#nav_link_my_profile {
          max-width: 150px;
        }
      }
    }
  }

  main.front_page_index #front_page_profile_card #stats_info,
  main.notifications_index #front_page_profile_card #stats_info,
  main.account_settings_edit #front_page_profile_card #stats_info {
    padding: 0 2px;
  }

  .black_heading {
    h1 {
      font-size: 2.5em !important;
    }

    h2 {
      font-size: 2.5em !important;
    }
  }

  .col-md-0 {
  	display: none !important;
  }

	.article_detail .share_links > div a svg {
		position: relative;
		left: -5px;
	}

  form#filter_list_form {
    input[type=text] {
      font-size: 1.2em;
    }

    #magnify {
     font-size: 1.2em;
    }
  }

  .slick-carousel.exchanges {
    .slick-track {
      height: 330px !important;

      .img {
        height: 84%;
      }

      .entry-content {
        height: 52%;
        padding: 10px 14px;
        font-size: 0.75em;
        line-height: 1.15em;
      }
    }
  }
}

.modal-dialog.wide {
  max-width: 720px !important;
  width: 720px !important;
}


.article-listing.sponsor {
  .inner {
    .entry-content {
      height: initial !important;
      opacity: 1 !important;
    }

    .sponsor_listing_img {
      width: 34% !important;
    }

    .inner_inner {
      position: static;
    }
  }
}

#featured_articles_sidebar .row .article-listing.post .img_mask {
    height: 41% !important;
}

article.article-listing.exchange.profile_wizard {
  height: 165px;

  .img_mask {
    height: 81%;
  }

  h6 {
    font-size: 0.75em;
  }
}