@font-face {
  font-family: 'Gabriela';
  src: asset_url('gabriela.eot'); /* IE9 Compat Modes */
  src: asset_url('gabriela.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       asset_url('gabriela.woff2') format('woff2'), /* Super Modern Browsers */
       asset_url('gabriela.woff') format('woff'), /* Pretty Modern Browsers */
       asset_url('gabriela.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.text_shadow {
  text-shadow: 1px 1px 2px #2d2d2d;
}

.gabriela {
	font-family: Gabriela, verdana, sans-serif;
}

h1.bullet,
h2.bullet {
	background-image: asset_url('heading.png');
	background-repeat: no-repeat;
	padding-left: 1em;
	background-position: left 0.2em;
	background-size: 0.7em;
}


h4.bullet {
	background-image: asset_url('heading.png');
	background-repeat: no-repeat;
	padding-left: 1.5em;
	background-position: left 0.05em;
	background-size: 1em;
}


h1.double-bullet {
	background-image: asset_url('heading-bg-large.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 95px;
	background-size: 75px;
	width: fit-content;
	width: -moz-fit-content;

	a {
		background-image: asset_url('heading-bg-large-reversed.png');
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 95px;
		background-size: 75px;
	}
}

h2.underline {
	padding-bottom: 6px;
	border-bottom: 1px solid $grey;
	margin-bottom: 40px;
}

h1, h2, h3 {
	@extend .gabriela;
}

body, h4, h5, p {
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: $black;

	a {
		color: $black;

		&:hover {
			color: $grey_dark !important;
			text-decoration: none;
		}
	}
}

body, p {
	color: #555;
}

p.intro {
	font-weight: 800;
	font-size: 1.1em;
}
