<div class="modal fade" id="thirdPartySharingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog medium" role="document">
    <div class="modal-content"
          ng-controller="ThirdPartySharingController"
          data-rating-text-labels="<%= rating_labels.to_json %>"
          data-tinymce-content-css-url='<%= asset_url("#{browser.device.mobile? ? 'mobile' : 'desktop'}/tinymce-content.css") %>'>

    	<div class="modal-header d-flex justify-content-between bg-grey">
  			<h6 class="mb-2 mt-1">
  				Share an article
  			</h6>

				<button data-dismiss="modal" class="btn btn-link close_share_modal">
					<i class="fas fa-times text-green"></i>
				</button>

    	</div>

      <div class="modal-body px-4">
        <div class="d-flex justify-content-start url_box">
          <img ng-src="{{myProfile.profilePhoto.image}}" alt="{{myProfile.displayName}}" class="rounded-circle mr-3" />

          <textarea name="third_party_article_url"
                      id="third_party_article_url"
                      ui-tinymce="urlTinymceOptions"
                      ng-model="thirdPartyArticle.url"></textarea>
        </div>


        <div ng-if="thirdPartyArticle.article.loaded" id="article_preview">
          <div ng-show="thirdPartyArticle.urlError.length > 0" class="mt-4 alert text-center alert-danger">
            {{ thirdPartyArticle.urlError }}
          </div>

          <div ng-show="!thirdPartyArticle.urlError">
              <img ng-src="{{thirdPartyArticle.article.data.image}}"
                    alt="{{thirdPartyArticle.article.data.title}}"
                  width="100%"
                   ng-if="thirdPartyArticle.article.data.image.length > 0" />

            <h6 ng-if="thirdPartyArticle.article.data.domain.length > 0">{{thirdPartyArticle.article.data.domain}}</h6>
            <h4 ng-if="thirdPartyArticle.article.data.title.length > 0">{{thirdPartyArticle.article.data.title}}</h4>
            <div ng-if="thirdPartyArticle.article.data.snippet.length > 0" ng-bind-html="thirdPartyArticle.article.data.snippet"></div>
          </div>
        </div>

        <div id="your_rating" ng-show="thirdPartyArticle.article.loaded" class="pt-3">
          <textarea name="comments" id="comments"
                    placeholder="Add a comment..."
                    ui-tinymce="tinymceOptions"
                    ng-model="thirdPartyArticle.article.share.comments"
                    ng-show="!invalidUrl"></textarea>

            <div id="ratings_box" class="member_ratings px-2 px-md-3 pt-3 pb-md-1"
                  ng-show="!invalidUrl">
              <div class="inner">
                <ul class="dots panel">
                  <li class="mb-3">
                    <div class="justify-content-start d-md-flex align-items-start">
                      <label class="mr-4 w-md-25">Well argued: </label>
                      <div class="dots">
                        <span class="dot panel" ng-repeat="i in _.range(1, 6)"
                                ng-click="toggleDots('well_written', i)">
                          <span ng-class="{
                            'filled': i <= thirdPartyArticle.article.share.rating_well_written,
                            'empty': i > thirdPartyArticle.article.share.rating_well_written
                          }">&nbsp;</span>
                        </span>
                      </div>
                      <h6 class="text-green panel">
                        {{ ratingTextLabels.well_written[thirdPartyArticle.article.share.rating_well_written] }}
                      </h6>
                    </div>
                  </li>

                  <li class="mb-3">
                    <div class="justify-content-start d-md-flex align-items-start">
                      <label class="mr-4 w-md-25">Interesting: </label>
                      <div class="dots">
                        <span class="dot panel" ng-repeat="i in _.range(1, 6)"
                                ng-click="toggleDots('valid_points', i)">
                          <span ng-class="{
                            'filled': i <= thirdPartyArticle.article.share.rating_valid_points,
                            'empty': i > thirdPartyArticle.article.share.rating_valid_points
                          }">&nbsp;</span>
                        </span>
                      </div>
                      <h6 class="text-green panel">
                        {{ ratingTextLabels.valid_points[thirdPartyArticle.article.share.rating_valid_points] }}
                      </h6>
                    </div>
                  </li>

                  <li class="mb-3">
                    <div class="justify-content-start d-md-flex align-items-start">
                      <label class="mr-4 w-md-25">Agree: </label>
                      <div class="dots">
                        <span class="dot panel" ng-repeat="i in _.range(1, 6)"
                                ng-click="toggleDots('agree', i)">
                          <span ng-class="{
                            'filled': i <= thirdPartyArticle.article.share.rating_agree,
                            'empty': i > thirdPartyArticle.article.share.rating_agree
                          }">&nbsp;</span>
                        </span>
                      </div>
                      <h6 class="text-green panel">
                        {{ ratingTextLabels.agree[thirdPartyArticle.article.share.rating_agree] }}
                      </h6>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="button_box justify-content-end d-flex py-3">
              <button class="btn btn-success px-4 btn-block"
                      ng-click="shareArticle()"
                      ng-show="!invalidUrl"
                      ng-disabled="sharing == true"
                      ng-class="{ 'disabled': sharing == true }">Share</button>
              <button class="btn btn-danger px-4 btn-block"
                      ng-show="invalidUrl"
                      data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
  </div>
</div>