<div id="cookie-notice" role="banner" class="cn-bottom" style="display: none;">
	<div class="cookie-notice-container">
		<span id="cn-notice-text">We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span>
		<a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button btn btn-info">Ok</a>
		<a href="/privacy-policy/" target="_blank" id="cn-more-info" class="cn-more-info cn-button btn btn-info">Privacy policy</a>
	</div>
</div>