<nav class="navbar share_menu_btn d-inline-block">
	<a href='#' data-toggle="dropdown">
		<i class="fas fa-chevron-circle-down"></i>
	</a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="#" ng-click="report()">Report</a>
    <a class="dropdown-item" href="#" ng-click="block()">Block</a>
    <a class="dropdown-item" href="#" ng-click="mute()">Mute</a>
  </div>
</nav>