<nav id="search_box" class="collapse hide" aria-expanded="true" style="">
  <div class="row" id="search_box_row">
    <div class="justify-content-center" id="search_inner">
      <form method="get" id="search_form" class="search_form" action="<%= search_path %>" role="search" >
        <div class="input-group">
          <input placeholder="Search TheArticle..." class="text-white form-control" type="text" value="" name="query">
          <span class="input-group-btn">
            <button class="btn-link btn-sm btn bg-colour-1 text-white gabriela" type="submit">
              GO <i class="fas fa-angle-right"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>