<div class="modal mobile_full fade" id="testDomainInterstitialModal" tabindex="-1" role="dialog">
  <div class="modal-dialog medium" role="document">
    <div class="modal-content">

      <div class="modal-body px-4 px-md-4">
        <header class="container auth_header mb-4">
          <div class="row">
            <div class="col col-md-12">
              <div id="logo" class="py-md-3">
                <span class="text-hide">TheArticle</span>
              </div>
            </div>
          </div>
        </header>

        <section>
            <p>Welcome. It looks like you have stumbled across the Beta version of our new website. We're currently in the process of bug testing and hope to launch the full site in the next couple of weeks.</p>

            <p>If you fancy having a nose, you are more than welcome to register an account and set up a profile, and we would be really grateful if you would report any bugs to us.</p>

            <p>Otherwise, please visit <a href="https://www.thearticle.com" class="text-green">www.thearticle.com</a> for our current website.</p>

            <button class="btn btn-success btn-block btn-lower" ng-click="acceptTestingEnvironmentInterstitial($event)">Close</button>
          </section>
      </div>
    </div>
  </div>
</div>