<% article.limited_exchanges(4).each_with_index do |exchange, index| %>
<a href="<%= exchange_badge_url(exchange) %>" class="exchange-badge bg-colour-<%= index+1 %>-dark exchange-<%= exchange.slug %>">
  <% if(exchange.slug == 'sponsored') %>
    <i class="fas fa-star"></i>
  <% end %>
  <%= exchange.name %>
</a><% end %>