  <footer id="main_footer_top" class="main_footer bg-black text-white border-light border-bottom">
    <div class="container">
      <div class="row py-2">
        <nav class="navbar navbar-expand-md col-12 col-lg-10 d-flex" id="footer_nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/our-mission">Our Mission</a>
            </li>
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/terms-and-conditions">Terms & Conditions</a>
            </li>
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/privacy-policy">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/contributors">Contributors</a>
            </li>
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/write-for-us">Write for Us</a>
            </li class="nav-item">
            <li class="nav-item">
              <a class="mr-3 text-white nav-link px-2" href="/contact">Contact</a>
            </li>
          </ul>
        </nav>

        <% unless user_signed_in? %>
        <div class="col-md-0 col-lg-2 d-flex align-items-center justify-content-end"">
          <button data-toggle="modal" data-target="#join_form_modal" class="join_button btn btn-sm bg-grass text-white">Join Us</button>
        </div>
        <% end %>
      </div>
    </div>
  </footer>
  <footer id="main_footer_bottom" class="main_footer bg-black text-white border-light border-top">
    <div class="container">
      <div class="row py-3">
        <div id="copyright" class="col-6 col-lg-5 d-flex align-items-center">
          <p class="text-light pl-5 pt-2">
            <small>
              &copy; <%= Date.today.strftime("%Y") %> TheArticle.&nbsp;
              <% if is_staging? %>
                Staging server
              <% else %>
                All rights reserved
              <% end %>
            </small>
          </p>
        </div>
        <div class="col-md-0 col-lg-2"></div>
        <div class="col-6 col-lg-5 d-flex justify-content-end">
          <nav class="navbar navbar-expand-md ml-auto pr-0" id="social_links">
            <ul class="nav ">
              <li class="nav-item" id="social_facebook">
                <a class="ml-2 nav-link text-white" href="https://www.facebook.com/TheArticle.exchange/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item" id="social_twitter">
                <a class="ml-2 nav-link text-white" href="https://twitter.com/TweetTheArticle" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item" id="social_linked_in">
                <a class="ml-2 nav-link text-white" href="https://www.linkedin.com/company/thearticle/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="nav-item" id="social_rss">
                <a class="ml-2 nav-link text-white mr-0 pr-0" href="/feed/rss" target="_blank">
                  <i class="fas fa-rss"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>

  <%= render 'common/cookie-notice' %>

  <script type="text/javascript">
    // Bootstrap the app
    var moduleName = "TheArticleNG"
    window.App = angular.module(moduleName, ['rails',
      'angularUtils.directives.dirPagination',
      'ngAnimate',
      'ngRoute',
      'ngFlash',
      'TheArticle.directives',
      'TheArticle.factories',
      'TheArticle.filters',
      'TheArticle.controllers'
    ]);
    $(document).ready(function() {
      $root = $('[ng-controller]').first();
      if (!$root.hasClass('ng-scope')) {
        angular.bootstrap($root, [moduleName]);
        console.log("bootstrapped " + $root.attr('ng-controller'));
      }
    });
  </script>

  <%= javascript_include_tag 'desktop', 'data-turbolinks-track': 'reload' %>

  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>

  <% if Rails.env == 'production' %>
  <script id="parsely-cfg" data-parsely-site="thearticle.com" src="//cdn.parsely.com/keys/thearticle.com/p.js"></script>
  <% end %>

  </body>
</html>
